<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main" style='text-align: center;height: 600px;'>
        <div class="col-md-12 col-centered text-center">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: "control-label" %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'display: initial;' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "control-label" %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="form-group">
              <%= f.label :current_password, class: "control-label" %>
              <i>(we need your current password to confirm your changes)</i><br/>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>

          <%= link_to "Back", :back %>

        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>