<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to image_tag('fb-logo.png', class: 'center-block img-responsive'), user_omniauth_authorize_path(:facebook) %>
            <div class="row or text-center">
              <strong> or </strong>

              <h2>Create A New Account</h2>
              <hr>
            </div>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.input :name, autofocus: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.input :email, class: 'form-control' %>
              </div>

              <div class="form-group">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
                <%= f.input :password, autocomplete: "off", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.input :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :dob,'Date of Birth' ,class: "control-label",required: true %><br />
                <%= f.text_field :dob,class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.input :mobile, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.input :address, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :country ,class: "control-label" %><br />
                <%= f.country_select :country, {prompt: '--Please select country--'}, {class: 'form-control', onchange: "pick_state(this,#{params[:locale].to_json.html_safe});"} %>
              </div>
              <br>

              <div class="form-group">
                <%= f.label :state,class: "control-label" %><br />
                <%= f.select :state, options_for_select(['']), {prompt: '--Please select state--'}, {class: 'form-control'} %>
              </div>
              <br>

              <div class="actions">
                <%= f.submit "Sign up", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class='row'>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#user_dob').datepicker({
      format: 'dd-mm-yyyy',
      todayHighlight: true,
      clearBtn: true,
      autoclose: true
    });
  });

  function pick_state(element) {
    var country = element.value;
    $.ajax({
      url: '/pages/populate_state',
      method: 'get',
      data: {country_id: country}
    }).done(function (data) {
      $('#user_state').html(data);
      $('#user_state').addClass('form-control');
    });
  }
</script>