
<!-- <br>
<footer id='admin_link'>
  <%#= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path %> 
</footer> -->

<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" style='min-height: 265px;'>
        <div class="article-header">
          <h1><%= t('forem.admin.area') %></h1>
			<p> <%= t('forem.admin.welcome') %> </p>
			<ul class="product_list_widget">
  				<li style='list-style: none;text-decoration: none;'>
  					<%= link_to t('forem.admin.forum.index'), forem.admin_forums_path %> 
  				</li>
  				<li style='list-style: none;text-decoration: none;'>
  					<%= link_to t('forem.admin.category.index'), forem.admin_categories_path %>
  				</li>
  				<li style='list-style: none;text-decoration: none;'>
  					<%= link_to t('forem.admin.group.index'), forem.admin_groups_path %>
  				</li>
			</ul>
			<div class='col-md-12'>
				<%= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path %> 
			</div>
        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>