<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main" style='text-align: center;height: 450px;'>
        <div class="col-md-12 col-centered text-center">
          <h2>Change your password</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, "New password", class: "control-label" %><br/>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="actions">
              <%= f.submit "Change my password" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>