<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main" style='text-align: center;height: 450px;'>
        <div class="col-md-12 col-centered text-center">
          <h2>Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: "control-label" %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'display: initial;' %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>