<div class="footer-copyright">
  <div class="wrapper">
    <!-- <div class='right'> -->
      <div class='row'>
        <div class='col-md-10' style='margin-top: 10px;'>
          <p>© 2015 Copyright <b>Agriculture Database</b>. All Rights reserved.</p>
        </div>
        <div class='col-md-2 right' style='text-align:right;'>
          <div class='facebook'>
            <%= link_to '<i class="fa fa-facebook-square fa-3x"></i>'.html_safe, "https://www.facebook.com", target: '_blank' %>
          </div>
          <div class='twitter'>
            <%= link_to '<i class="fa fa-twitter-square fa-3x"></i>'.html_safe, "https://www.facebook.com", target: '_blank' %>
          </div>
          <div class='google'>
            <%= link_to '<i class="fa fa-google-plus-square fa-3x"></i>'.html_safe, "https://www.facebook.com", target: '_blank' %>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>

<style type="text/css">
  .facebook {
    display: inline-block;
    margin-right: 5px
  }

  .twitter {
    display: inline-block;
  }

  .google {
    display: inline-block;
    margin-left: 5px
  }

  .facebook > a {
    color: #3b5998;
    text-decoration: none;
  }

  .facebook > a:hover {
    color: #CA9469;
    text-decoration: none;
  }

  .twitter > a {
    color: #1dcaff;
    text-decoration: none;
  }

  .twitter > a:hover {
    color: #CA9469;
    text-decoration: none;
  }

  .google > a {
    color: #D50F25;
    text-decoration: none;
  }

  .google > a:hover {
    color: #CA9469;
    text-decoration: none;
  }
</style>