<div class="header">
  <div class="wrapper col-md-12">
    <div class='row'>
      <div class='col-md-9' style='margin-top:10px'>
        <div class='row'>

          <div class="col-md-2 logo-header" style='padding-right: 0px;width: 13.666667%;'>
            <a href="<%= root_path %>" class="logo-image" style='margin-top: 0%'>
              <%= image_tag 'logo.png', border: '0px', size: '100x100' %>
            </a>
          </div>
          <div class='col-md-10' style='margin-top: 4%;padding-left: 0px;'>
            <h3>
              <a href="<%= main_app.root_path %>" style='text-decoration: none'>
                Farming enhancement through Information and Communication Technology- Website design for rural farmers
              </a>
            </h3>

          </div>
        </div>
      </div>
      <div class="col-md-3 header-featured weather-fore" style='text-align: center;display:block; padding-top: 26px;padding-left: 30px;'>
        <div class="featured-content">
          <% forecast = ForecastIO.forecast(51.5000, 0.1167) %>
          <h3><a href="#"><i class="wi wi-thermometer"> Weather Forecast </i> </a></h3>
          <h4>
			  <span class='forecast'> 
				Temp:
          <%= forecast.currently.temperature %>
          <i class="wi wi-day-lightning"></i>
          <%= forecast.currently.summary %>
			 </span>
          </h4>
          <h4>
			  <span class='forecast'> 
				Date:
          <%= Time.now.strftime('%d %b-%Y') %>
          <!-- <div class='col-md-6 weather-time' style='width:75%;'></div> -->
			  </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>