<div class="main-menu">
  <div class="wrapper">
    <ul class="menu" rel="Main Menu">
      <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item <%= 'menu_active' if controller_name == 'home' && action_name == 'index' %>">
        <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, main_app.root_path, style: "text-decoration:none;#{'color:#e6e1c9' if controller_name == 'home' && action_name == 'index'}" %>
      </li>
      <% if @pages.present? %>
        <% @pages.each do |page| %>
          <% if page.permalink == 'Category' %>
            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ot-dropdown <%= 'menu_active' if (action_name == 'wheat' || action_name == 'maize' || action_name == 'rice' || action_name == 'pulses' || action_name == 'jute' || action_name == 'sugarcane' || action_name == 'nuts' || action_name == 'sand' || action_name == 'seasons') %>">
              <%= link_to page.name.force_encoding("utf-8"), '#', style: "text-decoration:none;#{'color:#e6e1c9' if (action_name == 'wheat' || action_name == 'maize' || action_name == 'rice' || action_name == 'pulses' || action_name == 'jute' || action_name == 'sugarcane' || action_name == 'nuts' || action_name == 'sand' || action_name == 'seasons') }" %>
              <ul class="sub-menu">
                <li id="menu-item-547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ot-dropdown">
                  <a href="#" id='crop-menu' style='text-decoration:none;'>Crops
                    <i class="fa fa-angle-double-right fa-fw"></i></a>
                  <ul class="sub-menu crop-sub">
                    <li id="menu-item-554" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= wheat_pages_path %>" style='text-decoration:none;'>Wheat </a>
                    </li>
                    <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= maize_pages_path %>" style='text-decoration:none;'>Maize </a>
                    </li>
                    <li id="menu-item-564" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= rice_pages_path %>" style='text-decoration:none;'>Rice </a>
                    </li>
                    <li id="menu-item-549" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= pulses_pages_path %>" style='text-decoration:none;'>Pulses </a>
                    </li>
                    <li id="menu-item-550" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= jute_pages_path %>" style='text-decoration:none;'>Jute </a>
                    </li>
                    <li id="menu-item-551" class="menu-item menu-item-type-custom menu-item-object-custom">
                      <a href="<%= sugarcane_pages_path %>" style='text-decoration:none;'>Sugarcane </a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-553" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= nuts_pages_path %>" style='text-decoration:none;'>Nuts</a>
                </li>
                <li id="menu-item-552" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= sand_pages_path %>" style='text-decoration:none;'>Sand </a>
                </li>
                <li id="menu-item-530" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= seasons_pages_path %>" style='text-decoration:none;'> Seasons </a>
                </li>
              </ul>
            </li>
          <% elsif page.permalink == 'Investment' %>
            <li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ot-dropdown <%= 'menu_active' if (action_name == 'debt_relif' || action_name == 'short_term_loan' || action_name == 'midloan' || action_name == 'agri_banking' || action_name == 'agri_credit') %>">
              <%= link_to page.name.force_encoding("utf-8"), '#', style: "text-decoration:none; #{'color:#e6e1c9' if (action_name == 'debt_relif' || action_name == 'short_term_loan' || action_name == 'midloan' || action_name == 'agri_banking' || action_name == 'agri_credit') }" %>
              <ul class="sub-menu">
                <li id="menu-item-558" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="http://dbie.rbi.org.in/InfoViewApp/MOFSelectParam.jsp" target='_blank' style='text-decoration:none;'>Branch
                    Locator </a>
                </li>
                <li id="menu-item-559" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= debt_relif_pages_path %>" style='text-decoration:none;'>Debt Relief</a>
                </li>
                <li id="menu-item-560" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= short_term_loan_pages_path %>" style='text-decoration:none;'>Short Term Investment </a>
                </li>
                <li id="menu-item-561" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= midloan_pages_path %>" style='text-decoration:none;'>Mid/Long Term Loans </a>
                </li>
                <li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= agri_banking_pages_path %>" style='text-decoration:none;'>Agriculture Banking</a>
                </li>
                <li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="<%= agri_credit_pages_path %>" style='text-decoration:none;'>Agriculture Credit</a>
                </li>
              </ul>
            </li>
          <% elsif page.permalink == 'Forum' %>
            <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ot-dropdown <%= 'menu_active' if action_name == 'Forum' %>">
              <%= link_to page.name.force_encoding("utf-8"), forem_path, style: "text-decoration:none; #{'color:#e6e1c9' if action_name == 'Forum' }" %>
            </li>
          <% elsif page.permalink == 'Education' %>
            <li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page <%= 'menu_active' if action_name == 'education' %>">
              <%= link_to page.name.capitalize.force_encoding("utf-8"), education_pages_path, style: "text-decoration:none; #{'color:#e6e1c9' if action_name == 'education' }" %>
            </li>
          <% else %>
            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ot-dropdown <%= 'menu_active' if page.permalink == params[:id] %>">
              <%= link_to page.name.force_encoding("utf-8"), page_path(page.permalink), style: "text-decoration:none; #{'color:#e6e1c9' if page.permalink == params[:id] }" %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<style type="text/css">
  .forecast {
    position: relative;
    z-index: 1;
    line-height: 115%;
    color: #e6dfba;
  }

  .menu_active {
    background-color: #3c1805;
    color: #e6e1c9;
    text-shadow: none;
  }
</style>