<div class="very-top">
  <div class="wrapper">
    <ul class="left" rel="Top Menu">
      <li id="menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-page single">
        <!-- <a href="#"> </a> -->
        <!-- <div class='col-md-6 weather-time' style='width:100%;'></div> -->
      </li>
    </ul>
    <ul class="right" style='margin-bottom: 0px;'>
      <li>
        <div id="google_translate_element"></div>
      </li>
      <% if user_signed_in? %>
        <li>  <%= link_to current_user.email, '#', style: 'text-decoration: none;' %> </li>
        <li> <%= link_to 'Sign out', main_app.destroy_user_session_path, :method => 'delete', role: 'menuitem', tabindex: '-1' %> </li>
      <% else %>
        <li>  <%= link_to 'Sign in', '#', id: 'user-sign-in', style: 'text-decoration:none;' %> </li>
        <li> <%= link_to 'Sign up', main_app.new_user_registration_path, style: 'text-decoration:none;' %> </li>
      <% end %>
    </ul>
    <div class="clear-float"></div>
  </div>
</div>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
        {pageLanguage: 'en', includedLanguages: 'en,hi,kn,ml,ta,te'},
        'google_translate_element'
    );
    jQuery('.goog-logo-link').css('display', 'none');
    jQuery('.goog-te-gadget').css('font-size', '0');
    jQuery('.goog-te-combo').addClass('form-control');
  }
</script>

<%= render 'shared/popup/sign_in' %>

<script type="text/javascript">
  $('#user-sign-in').click(function () {
    $('#sign-in-modal').modal('show');
  });
  $('#user-sign-up').click(function () {
    $('#sign-up-modal').modal('show');
  });
</script>