
<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" >
        <div class="article-header">
          <h2><%= t('forem.admin.group.index') %></h2>
        </div>
        
<%= link_to t('back_to_admin', :scope => "forem.admin"), forem.admin_root_path %><br><br>
<%= link_to t('forem.admin.group.new'), forem.new_admin_group_path, :class => "btn btn-primary" %>

<table id='groups' class='index table table-striped' cellspacing='0'>
  <thead>
    <tr>
      <th><%= t('edit', :scope => 'forem.admin.groups') %></th>
      <th><%= t('delete', :scope => 'forem.admin.groups') %></th>
      <th><%= t('name', :scope => 'forem.admin.groups') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to t('edit', :scope => 'forem.admin.groups'), forem.admin_group_path(group) %>
        </td>
        <td>
          <%= link_to t('delete', :scope => 'forem.admin.groups'), forem.admin_group_path(group), :method => :delete %>
        </td>
        <td>
          <%= link_to forem_emojify(group.name), forem.admin_group_path(group) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>