<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Overview</h2>
          </div>
          <div id="owl-demo" class="owl-carousel owl-theme">
            <% if @homeimages.present? %>
              <% @homeimages.each do |image| %>
                <div class="item">
                  <%= image_tag image.image.url(:large) if image.image.present? %>
                </div>
              <% end %>
            <% end %>
          </div>
          <p>As Per the 2010 FAO world agriculture statistics, India is the world's largest producer of many fresh
            fruits and vegetables, milk, major spices, select fibrous crops such as jute, several staples such as
            millets and castor oil seed. India is the second largest producer of wheat and rice, the world's major food
            staples. India is also the world's second or third largest producer of several dry fruits, agriculture-based
            textile raw materials, roots and tuber crops, pulses, farmed fish, eggs, coconut, sugarcane and numerous
            vegetables. India ranked within the world's five largest producers of over 80% of agricultural produce
            items, including many cash crops such as coffee and cotton, in 2010. India is also one of the world's five
            largest producers of livestock and poultry meat, with one of the fastest growth rates, as of 2011.</p>

          <p>One report from 2008 claimed India's population is growing faster than its ability to produce rice and
            wheat.Other recent studies claim India can easily feed its growing population, plus produce wheat and rice
            for global exports, if it can reduce food staple spoilage, improve its infrastructure and raise its farm
            productivity to those achieved by other developing countries such as Brazil and China.</p>

          <p>In fiscal year ending June 2011, with a normal monsoon season, Indian agriculture accomplished an all-time
            record production of 85.9 million tonnes of wheat, a 6.4% increase from a year earlier. Rice output in India
            also hit a new record at 95.3 million tonnes, a 7% increase from the year earlier. Lentils and many other
            food staples production also increased year over year. Indian farmers, thus produced about 71 kilograms of
            wheat and 80 kilograms of rice for every member of Indian population in 2011. The per capita supply of rice
            every year in India is now higher than the per capita consumption of rice every year in Japan.</p>

          <p>India exported $39 billion worth of agricultural products in 2013, making it the seventh largest
            agricultural exporter worldwide, and the sixth largest net exporter. Its net exports have grown from about
            $5 billion in 2003, to a net value that was double than agriculture exports of combined the European Union
            (EU-28), making it the fastest growing exporter of agricultural products over a 10 year period, with an
            average annual export value growing at 21%. It has become one of the world's largest supplier of rice,
            cotton, sugar and wheat. India exported around 2 million metric tonnes of wheat and 2.1 million metric
            tonnes of rice in 2011 to Africa, Nepal, Bangladesh and other regions around the world.</p>

          <p>Aquaculture and catch fishery is amongst the fastest growing industries in India. Between 1990 and
            2010,Indian fish capture harvest doubled, while aquaculture harvest tripled. In 2008, India was the world's
            sixth largest producer of marine and freshwater capture fisheries, and the second largest aquaculture farmed
            fish producer. India exported 600,000 metric tonnes of fish products to nearly half of all the world's
            countries.

          <p>

          <p> India has shown a steady average nationwide annual increase in the kilograms produced per hectare for
            various agricultural items, over the last 60 years. These gains have come mainly from India's green
            revolution, improving road and power generation infrastructure, knowledge of gains and reforms.Despite these
            recent accomplishments, agriculture in India has the potential for major productivity and total output
            gains, because crop yields in India are still just 30% to 60% of the best sustainable crop yields achievable
            in the farms of developed as well as other developing countries. Additionally, losses after harvest due to
            poor infrastructure and unorganised retail cause India to experience some of the highest food losses in the
            world.</p>

          <div class="split-line-1"></div>
        </div>
        <div id='wheat-grow' style='display:none;'>
          <hr>
          <h2 class="intro-text text-center">
            <strong><%= t('home.what_is_agriculture') %>?</strong>
          </h2>
          <hr>
          <p style='text-align: justify;'>
            <%= t('home.home_content1') %>
          </p>

          <p style='text-align: justify;'>
            <%= t('home.home_content2') %>
          </p>

          <p style='text-align: justify;'>
            <%= t('home.home_content3') %>
            <%= link_to t('home.view_more'), 'https://en.wikipedia.org/wiki/Agriculture' %>
          </p>
        </div>
        <div id='grow-rate' style='display:none;'>
          <h3> Growth Snapshot </h3>

          <div class='col-md-12'>
            <%= image_tag 'growth.jpg' %>
          </div>
          <div class='col-md-12' style='margin-top: 5%;'>
            <div class='col-md-6'>
              <h2>Major seasons : Kharif and Rabi </h2>
              <ul>
                <li>There are two major agricultural seasons in India: Kharif and Rabi</li>
                <li>Kharif season lasts from April to September (summer); rice (paddy) is the season’s main crop</li>
                <li>Rabi season lasts from October to March (winter); wheat is the season’s main crop</li>
                <li>Total food grains production in India reached an all-time high of 257 million tonnes in FY14;</li>
                <li>According to 3rd advance estimate for FY14-15 by Ministry of Agriculture, total food grains
                  production is estimated to be 251.12 million tonnes in FY15
                </li>
              </ul>
            </div>
            <div class='col-md-6' style='margin-top: 8%;'>
              <%= image_tag 'agri-snapshot.png' %>
            </div>
          </div>
        </div>
      </div>
      <div class="content-sidebar right">
        <div class="widget-1 first widget column3">
          <h3 id='overview'><i class="glyphicon glyphicon-home"></i> Home</h3>
          <ul class="product_list_widget">
            <li id='grow'>
              <a href="#" style='text-decoration:none;'>
                  <span class="product-title"><i class="fa fa-pagelines"></i>
                     What is Agriculture?</span>
              </a>
            </li>
            <li id='seed'>
              <a href="#" style='text-decoration:none;'>
                  <span class="product-title"><i class="fa fa-tree"></i>
                      Growth Snapshot</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="widget-2 widget column3">
          <h3>Latest Updates</h3>
          <% if @latest_updates.present? %>
            <marquee scrollamount="5" direction="up" onmouseover="this.stop();" onmouseout="this.start();" style='height: 400px;'>
              <% @latest_updates.each do |news| %>
                <h3 style='color: orange;'> <%= news.title %> </h3>
                <h5> <%= link_to news.link, news.link, target: '_blank' %> </h5>
                <span class='pick_color'> <%= news.description.html_safe %> </span>
              <% end %>
            </marquee>
          <% end %>
        </div>
        <div class="widget-2 widget column3">
          <!--      <h3>Related Links </h3>
              <ul class="product_list_widget">
                <li>
                  <%#= link_to 'Link 1', 'http://farmer.gov.in/' %>
                </li>
                <li>
                  <%#= link_to 'Link 2', 'http://www.infodriveindia.com/' %>
                </li>
                <li>
                  <%#= link_to 'Link 3', 'http://eands.dacnet.nic.in/AWIS.htm' %>
                </li>
                <li>
                  <%#= link_to 'Link 4', 'http://www.efreshglobal.com/efresh/index.aspx ' %>
                </li>
                <li>
                  <%#= link_to 'Link 5', 'http://www.csb.gov.in/' %>
                </li>
                <li>
                  <%#= link_to 'Link 6', 'https://www.nabard.org/english/home.aspx' %>
                </li>
              </ul> -->
        </div>
      </div>
      <div class="clear-float"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .content_new {
    border: 1px solid;
    min-height: 300px;
  }

  #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
  }

  p {
    text-align: justify;
  }

  .pick_color {
    text-align: justify;
    color: #e8d782 !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none');
    $('#grow-rate').css('display', 'none');
    $("#owl-demo").owlCarousel({
      autoPlay: 3000,
      navigation: false,
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true
    });
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow-rate').css('display', 'none');
    $('#grow').addClass('active');
    $('#seed').removeClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow-rate').css('display', 'none');
    $('#grow').removeClass('active');
    $('#seed').removeClass('active');
    $('#overview').addClass('active');
  });
  $('#seed').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'none')
    $('#grow-rate').css('display', 'block');
    $('#grow').removeClass('active');
    $('#overview').removeClass('active');
    $('#seed').addClass('active');
  });
</script>