<!-- <div class='category'>
  
  
</div>
 -->
<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" >
        <div class="article-header">
          <h2><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to forem_emojify(@category), [forem, @category] %></h2>
        </div>
        <%= render @category %>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>