<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Agriculture Credit</h2>
          </div>
          <p class='cat-content'>
          <h5>Banks Credit Information(As Complied from various Banks/Institutions, for details please visit respective
            websites) </h5>
          <ul>
            <li>
              <%= link_to 'Nationalized Banks', 'http://agritech.tnau.ac.in/banking/pdf/private%20bank.pdf', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Private Banks', 'http://agritech.tnau.ac.in/banking/pdf/National%20banks-Final.pdf', target: '_blank' %>
            </li>
          </ul>
          </p>
          <p class='cat-content'>
          <h5>Regulatory Institutions </h5>
          <ul>
            <li>
              <%= link_to 'Reserve Bank of India', 'http://farmer.gov.in/rbi.html', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'National Bank for Agriculture and Rural Development (NABARD)', 'http://farmer.gov.in/nabard.html', target: '_blank' %>
            </li>
          </ul>
          </p>
          <p class='cat-content'>
          <h5>All India Financial Institutions </h5>
          <ul>
            <li>
              <%= link_to 'Small Industries Development Bank of India (SIDBI))', 'http://farmer.gov.in/sidbi.html', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Export Import Bank of India (EXIM)', 'http://farmer.gov.in/sidbi.html', target: '_blank' %>
            </li>
          </ul>
          </p>
          <p class='cat-content'>
          <h5>Service Co-operatives </h5>
          <ul>
            <li>
              <%= link_to 'Indian Farmers Fertilizers Cooperative Limited (IFFCO)', 'http://farmer.gov.in/iffco.html', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Krishak Bharati Cooperative Limited (KRIBHCO)', 'http://farmer.gov.in/kribhco.html', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'National Cooperative Development Corporation (NCDC)', 'http://farmer.gov.in/ncdc.html', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'National Dairy Development Board (NDDB)', 'http://farmer.gov.in/nddb.html', target: '_blank' %>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="content-sidebar right">
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'agri_credit.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3">
        <h3> Agriculture Credit </h3>
        <ul class="product_list_widget">
          <li id='overview'>
            <a href="#" style='text-decoration:none;'>
              <i class="glyphicon glyphicon-home"></i>
              Overview
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>