<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div class="row article-header">
          <h2>Nationalised Banks / Public-sector banks/Private-sector banks</h2>
        </div>

        <div class="row">
          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.allahabadbank.in/english/Akshay_Krishi.aspx', 'imagedefault/bank/allahabad_logo_icon.png') %>
              <%= bank_name('https://www.allahabadbank.in/english/Akshay_Krishi.aspx', 'Allahabad Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://andhrabank.in/english/AgriKisanGreenCrd.aspx', 'imagedefault/bank/andhralogosmall.png') %>
              <%= bank_name('http://andhrabank.in/english/AgriKisanGreenCrd.aspx', 'Andhra Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.bankofbaroda.co.in/rur/agriculture.asp', 'imagedefault/bank/bankofbarodasmall.png') %>
              <%= bank_name('http://www.bankofbaroda.co.in/rur/agriculture.asp', 'Bank of Baroda') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.bankofindia.co.in/english/KisanCreditCard.aspx', 'imagedefault/bank/bankofindiasmall.png') %>
              <%= bank_name('http://www.bankofindia.co.in/english/KisanCreditCard.aspx', 'Bank of India') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.bankofmaharashtra.in/credit_fac_agri.asp', 'imagedefault/bank/bankofmaharastrasmall.png') %>
              <%= bank_name('http://www.bankofmaharashtra.in/credit_fac_agri.asp', 'Bank of Maharashtra') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.canarabank.com/english/scripts/AgriRuralCreditSchemes.aspx', 'imagedefault/bank/canarasmall.png') %>
              <%= bank_name('http://www.canarabank.com/english/scripts/AgriRuralCreditSchemes.aspx', 'Canara Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.centralbankofindia.co.in/site/indexcbi.aspx', 'imagedefault/bank/centralbanksmall.png') %>
              <%= bank_name('https://www.centralbankofindia.co.in/site/indexcbi.aspx', 'Central Bank of India ') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.corpbank.com/asp/0100text.asp?presentID=146&amp;headID=145', 'imagedefault/bank/coorporationbanksmall.png') %>
              <%= bank_name('http://www.corpbank.com/asp/0100text.asp?presentID=146&amp;headID=145', 'Corporation Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.denabank.co.in/viewsection.jsp?lang=0&amp;id=0,135,138', 'imagedefault/bank/denabanksmall.png') %>
              <%= bank_name('http://www.denabank.co.in/viewsection.jsp?lang=0&amp;id=0,135,138', 'Dena Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.indianbank.in/products.php?sc=2&amp;ty=3&amp;ct=16', 'imagedefault/bank/indiansmall.png') %>
              <%= bank_name('http://www.indianbank.in/products.php?sc=2&amp;ty=3&amp;ct=16', 'Indian Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.iob.in/Agricultural_Short_Terms_Loans.aspx', 'imagedefault/bank/indianoverseassmall.png') %>
              <%= bank_name('http://www.iob.in/Agricultural_Short_Terms_Loans.aspx', 'Indian Overseas Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.obcindia.co.in/obcnew/site/index.aspx', 'imagedefault/bank/orientalbanksmall.png') %>
              <%= bank_name('https://www.obcindia.co.in/obcnew/site/index.aspx', 'Oriental Bank of Commerce') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.pnbindia.com/', 'imagedefault/bank/pnbsmall.png') %>
              <%= bank_name('http://www.pnbindia.com/', 'Oriental Punjab National Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.psbindia.com/agri.php', 'imagedefault/bank/punjabandsindhsmall.png') %>
              <%= bank_name('https://www.psbindia.com/agri.php', 'Oriental Punjab &amp; Sind Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.syndicatebank.in/scripts/AgriculturalLoans.aspx', 'imagedefault/bank/syndicatesmall.png') %>
              <%= bank_name('http://www.syndicatebank.in/scripts/AgriculturalLoans.aspx', 'Syndicate Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.ucobank.com/loan.htm', 'imagedefault/bank/ucosmall.png') %>
              <%= bank_name('http://www.ucobank.com/loan.htm', 'UCO Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.unionbankofindia.com/', 'imagedefault/bank/unionbanksmall.png') %>
              <%= bank_name('http://www.unionbankofindia.com/', 'Union Bank of India') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.unitedbankofindia.com/English/PriorityAgrLoans.aspx', 'imagedefault/bank/unitedbanksmall.png') %>
              <%= bank_name('http://www.unitedbankofindia.com/English/PriorityAgrLoans.aspx', 'United Bank of India') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.vijayabank.com/Loans-and-Advances/Advances-to-Agriculture-SSIs-and-Others', 'imagedefault/bank/vijayabanksmall.png') %>
              <%= bank_name('http://www.vijayabank.com/Loans-and-Advances/Advances-to-Agriculture-SSIs-and-Others', 'Vijaya Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.idbi.com/agri-banking.asp', 'imagedefault/bank/idbismall.png') %>
              <%= bank_name('http://www.idbi.com/agri-banking.asp', 'IDBI') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.nabard.org/creditfunctions/introduction.asp', 'imagedefault/bank/nabardsmall.png') %>
              <%= bank_name('http://www.nabard.org/creditfunctions/introduction.asp', 'NABARD') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.axisbank.com/agri-rural/agri-business-loans/agri-business-loans.aspx', 'imagedefault/bank/axissmall.png') %>
              <%= bank_name('http://www.axisbank.com/agri-rural/agri-business-loans/agri-business-loans.aspx', 'AXIS Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.federalbank.co.in/agri-business', 'imagedefault/bank/federalsmall.png') %>
              <%= bank_name('http://www.federalbank.co.in/agri-business', 'Federal Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.hdfcbank.com/personal/product/productlanding/rural-loans/gts8mips', 'imagedefault/bank/hdfcsmall.png') %>
              <%= bank_name('http://www.hdfcbank.com/personal/product/productlanding/rural-loans/gts8mips', 'HDFC Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.icicibank.com/rural/index.html', 'imagedefault/bank/icicismall.png') %>
              <%= bank_name('http://www.icicibank.com/rural/index.html', 'ICICI Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.sbi.co.in/', 'imagedefault/bank/sbismall.png') %>
              <%= bank_name('http://www.sbi.co.in/', 'State Bank of India') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.cityunionbank.com/english/easybusiness.aspx', 'imagedefault/bank/citiunionbanksmall.png') %>
              <%= bank_name('http://www.cityunionbank.com/english/easybusiness.aspx', 'City Union Bank Ltd.') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.coastalareabank.com/product.html', 'imagedefault/bank/coastalsmall.png') %>
              <%= bank_name('http://www.coastalareabank.com/product.html', 'Coastal Local Area Bank Ltd') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.csb.co.in/asp/0100text.asp?pageId=175&headId=308', 'imagedefault/bank/catholicsmall.png') %>
              <%= bank_name('http://www.csb.co.in/asp/0100text.asp?pageId=175&headId=308', 'Catholic Syrian Bank Ltd.') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.indusind.com/content/home/personal-banking/products/loans/indus-kisan.html', 'imagedefault/bank/induslndsmall.png') %>
              <%= bank_name('http://www.indusind.com/content/home/personal-banking/products/loans/indus-kisan.html', 'IndusInd Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.kotak.com/personal-banking/agri-business/agri-sme.html#apply-online', 'imagedefault/bank/kotaksmall.png') %>
              <%= bank_name('http://www.kotak.com/personal-banking/agri-business/agri-sme.html#apply-online', 'Kotak Mahindra Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.karnatakabank.com/ktk/Finance.jsp?type=tf', 'imagedefault/bank/karnataksmall.png') %>
              <%= bank_name('http://www.karnatakabank.com/ktk/Finance.jsp?type=tf', 'Karnataka Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.kvb.co.in/agriculture/agriculture.html', 'imagedefault/bank/karursmall.png') %>
              <%= bank_name('http://www.kvb.co.in/agriculture/agriculture.html', 'Karur Vysya Bank') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.sbbjonline.com/', 'imagedefault/bank/sbjjsmall.png') %>
              <%= bank_name('https://www.sbbjonline.com/', 'State Bank of Bikaner and Jaipur') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.sbhyd.com/agriculture/?default=productioncreditloans', 'imagedefault/bank/sbhsmall.png') %>
              <%= bank_name('http://www.sbhyd.com/agriculture/?default=productioncreditloans', 'State Bank of Hyderabad') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://statebankofmysore.co.in/advances/agricultural-schemes-.html', 'imagedefault/bank/sbmsmall.png') %>
              <%= bank_name('http://statebankofmysore.co.in/advances/agricultural-schemes-.html', 'State Bank of Mysore') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('https://www.sbp.co.in/agri.aspx', 'imagedefault/bank/sbpsmall.png') %>
              <%= bank_name('https://www.sbp.co.in/agri.aspx', 'State Bank of Patiala') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.statebankoftravancore.com/portal/agri', 'imagedefault/bank/sbtsmall.png') %>
              <%= bank_name('http://www.statebankoftravancore.com/portal/agri', 'State Bank of Travancore') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.tmb.in/business_banana_cultivation/loan_for_your_banana_cultivation_and_farming.html', 'imagedefault/bank/tmbsmall.png') %>
              <%= bank_name('http://www.tmb.in/business_banana_cultivation/loan_for_your_banana_cultivation_and_farming.html', 'Tamilnad Mercantile Bank Ltd.') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.dhanbank.com/', 'imagedefault/bank/dhansmall.png') %>
              <%= bank_name('http://www.dhanbank.com/', 'The Dhanalakshmi Bank Limited') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.jkbank.net/customerAgriLoans.php', 'imagedefault/bank/jksmall.png') %>
              <%= bank_name('http://www.jkbank.net/customerAgriLoans.php', 'The Jammu & Kashmir Bank Ltd') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.nainitalbank.co.in/english/Rural_Agri_Loan.aspx', 'imagedefault/bank/nainsmall.png') %>
              <%= bank_name('http://www.nainitalbank.co.in/english/Rural_Agri_Loan.aspx', 'The Nainital Bank Ltd') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://sangliurbanbank.in/', 'imagedefault/bank/sanglismall.png') %>
              <%= bank_name('http://sangliurbanbank.in/', 'The  Sangli Bank Ltd') %>
            </div>
          </div>

          <div class='col-md-3'>
            <div class="row row-space">
              <%= bank_image('http://www.southindianbank.com/content/viewContent.aspx?linkIdLvl2=12&linkId=84&sec=1', 'imagedefault/bank/southsmall.png') %>
              <%= bank_name('http://www.southindianbank.com/content/viewContent.aspx?linkIdLvl2=12&linkId=84&sec=1', 'The South Indian Bank Ltd') %>
            </div>
          </div>
        </div>
      </div>
      <div class="content-sidebar right">
        <div style='text-align:center;'>
          <div class="profile-userpic">
            <%= image_tag 'midloan.jpg' %>
          </div>
        </div>
        <div class="widget-1 first widget column3">
          <h3> Agriculture Banking </h3>
          <ul class="product_list_widget">
            <li id='overview'>
              <a href="#" style='text-decoration:none;'>
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>

<style type="text/css">
  .row-space {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }

  .clear {
    clear: both;
  }
</style>