<div class='row' style='min-height: 550px;'>
  <div class="box" style='min-height: 550px;'>
    <div class="col-lg-12">
      <div class='col-md-3 list-group'>
        <ul>
          <li class='list-group-item'>
            <%= link_to 'Crops', '#', id: 'crop' %>
          </li>
          <li class='list-group-item'>
            <%= link_to 'Loans', '#', id: 'loan' %>
          </li>
          <li class='list-group-item'>
            <%= link_to 'Nuts', '#', id: 'nut' %>
          </li>
          <li class='list-group-item'>
            <%= link_to 'Sand', '#', id: 'sand' %>
          </li>
          <li class='list-group-item'>
            <%= link_to 'Seasons', '#', id: 'season' %>
          </li>
          <li class='list-group-item'>
            <%= link_to 'Spices', '#', id: 'spice' %>
          </li>

        </ul>
      </div>
      <div class='col-md-9'>
        <div id='crops'>
          <%= render '/pages/categories/crops' %>
        </div>
        <div id='loans' style='display:none;'>
          <%= render '/pages/categories/loans' %>
        </div>
        <div id='nuts' style='display:none;'>
          <%= render '/pages/categories/nuts' %>
        </div>
        <div id='sands' style='display:none;'>
          <%= render '/pages/categories/sand' %>
        </div>
        <div id='seasons' style='display:none;'>
          <%= render '/pages/categories/seasons' %>
        </div>
        <div id='spices' style='display:none;'>
          <%= render '/pages/categories/spices' %>
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#loans').css('display', 'none');
    $('#nuts').css('display', 'none');
    $('#sands').css('display', 'none');
    $('#seasons').css('display', 'none');
    $('#spices').css('display', 'none');
  });
  $('#crop').click(function () {
    $('#crops').css('display', 'block');
    $('#loans').css('display', 'none');
    $('#nuts').css('display', 'none');
    $('#sands').css('display', 'none');
    $('#seasons').css('display', 'none');
    $('#spices').css('display', 'none');
  });
  $('#loan').click(function () {
    $('#loans').css('display', 'block');
    $('#nuts').css('display', 'none');
    $('#sands').css('display', 'none');
    $('#seasons').css('display', 'none');
    $('#spices').css('display', 'none');
    $('#crops').css('display', 'none');
  });
  $('#nut').click(function () {
    $('#nuts').css('display', 'block');
    $('#loans').css('display', 'none');
    $('#sands').css('display', 'none');
    $('#seasons').css('display', 'none');
    $('#spices').css('display', 'none');
    $('#crops').css('display', 'none');
  });
  $('#sand').click(function () {
    $('#sands').css('display', 'block');
    $('#nuts').css('display', 'none');
    $('#loans').css('display', 'none');
    $('#seasons').css('display', 'none');
    $('#spices').css('display', 'none');
    $('#crops').css('display', 'none');
  });
  $('#season').click(function () {
    $('#seasons').css('display', 'block');
    $('#sands').css('display', 'none');
    $('#nuts').css('display', 'none');
    $('#loans').css('display', 'none');
    $('#spices').css('display', 'none');
    $('#crops').css('display', 'none');
  });
  $('#spice').click(function () {
    $('#spices').css('display', 'block');
    $('#seasons').css('display', 'none');
    $('#sands').css('display', 'none');
    $('#nuts').css('display', 'none');
    $('#loans').css('display', 'none');
    $('#crops').css('display', 'none');
  });
</script>