<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Debt Relief</h2>
          </div>
          <h3> Debt Relief in Event of Occurrence of Natural Calamities </h3>

          <p class='cat-content'>
          <h5> Reserve Bank of India </h5>
          has issued standing guidelines to the banks for providing relief to the farmers in areas affected by natural
          calamities. These guidelines have been issued to enable the banks to take uniform and concerted action
          expeditiously, particularly to provide the financial assistance to the farmers affected by natural calamities.
          These guidelines envisages inter-alia:
          </p>
          <p class='cat-content'>
          <ul>
            <li> Conversion/rescheduling of loans in the event of natural calamity for periods ranging from 3 to 9 years
              depending upon the successive crop failure/intensity of damage of crops.
            </li>
            <li>Grant of fresh crop loans to affected farmers</li>
            <li>Conversion of principal as well as interest due on the existing loans</li>
            <li>Grant of consumption loans</li>
            <li>Not to compound interest of loans converted/ rescheduled etc.</li>
            <li>Not to charge penal interest in respect of current dues in default</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="content-sidebar right">
        <div style='text-align:center;'>
          <div class="profile-userpic">
            <%= image_tag 'debt.jpg' %>
          </div>
        </div>
        <div class="widget-1 first widget column3">
          <h3> Debt Relief </h3>
          <ul class="product_list_widget">
            <li id='overview' class="active">
              <a href="#" style='text-decoration:none;'>
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear-float"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>