<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Agricultural Universities (India)</h2>
          </div>
          <p class='cat-content'>
            Agricultural Universities or 'AUs' are mostly public universities in India that are engaged in teaching,
            research and extension in agriculture and related disciplines. In India, agricultural education has evolved
            into a large and distinct domain often, separately from other areas of higher education. Many of these
            universities are member of a registered society- Indian Agricultural Universities Association. Indian
            Council of Agricultural Research is the main regulatory authority of agricultural education in India, while
            the disciplines of Veterinary medicine and Forestry are regulated by Veterinary Council of India and Indian
            Council of Forestry Research and Education respectively. Based on the statutes establishing these
            universities, agricultural universities in India can be grouped into various types.
          </p>
          <h4>State Agricultural Universities </h4>

          <p class='cat-content'>
            "State Agricultural Universities (SAUs)" are the predominant class of agricultural universities in India. A
            SAU is usually a university established by an Act of state legislature with a dedicated mandate of teaching,
            research and extension in agriculture and related disciplines.
          </p>
          <h4>History of SAUs </h4>

          <p class='cat-content'>
            After Independence, one of the greatest challenge before India was agriculture and rural development. This
            necessitated the availability of trained human resources in these areas. The first Education Commission of
            India (1949) headed by Sarvepalli Radhakrishnan recommended setting up rural universities in India on
            American land-grant model. In the 1950s, Indian Parliament was already setting up specialized engineering
            universities- Indian Institutes of Technology as Institutes of National Importance. However, the Parliament
            had limited mandate in establishing such specialized institutions for agricultural education, despite the
            urgent need, as the Constitution of India had conferred the power to make laws in subjects of agriculture
            (including agricultural research and education) exclusively in the domain of the states.
          </p>

          <p class='cat-content'>
            The state of Uttar Pradesh (UP), took the first step for establishing an agricultural university in 1954,
            when it invited an Indo- American team headed by Dr K R Damle, the Vice-President of Indian Council of
            Agricultural Research (ICAR), to consider an area around Tarai State farm in Nainital district as a possible
            site for a rural university. Encouraged by favourable view of the Damle team, two senior UP government
            officials- H S Sandhu and A N Jha visited United States to look for collaborations with US Universities. In
            consultation with University of Illinois dean Dr H W Hannah, the state of UP presented a proposal to the
            Central government in 1956 for establishing a Land-grant style university. Thereafter, a contract between
            the Government of India, the Technical Cooperation Mission and few US land grant universities, was signed to
            promote agricultural education in India. The US universities included the University of Tennessee, the Ohio
            State University, the Kansas State University, the University of Illinois, the Pennsylvania State University
            and the University of Missouri.
          </p>

          <p class='cat-content'>
            The UP Act XI-V of 1958- the founding legislative act for establishing an agricultural university was
            promulgated by state legislature of UP. The task of mentoring the proposed university in UP was assigned to
            the University of Illinois which signed a contract in 1959. Thus, the first state agricultural university of
            India- G. B. Pant University of Agriculture and Technology, Pantnagar was established in UP and it was
            inaugurated by the first Prime Minister of India Jawaharlal Nehru, on 17 November 1960. The model of
            establishing Pantnagar University paved the way for establishing state government supported dedicated
            universities for agricultural education, i.e., SAUs in India. There are 54 SAUs in India.
          </p>
        </div>
        <div id='wheat-grow' style='display:none;'>
          <h3> List of agricultural universities in India </h3>

          <div class='col-md-12'>
            <h4> Telangana </h4>
            <ol>
              <li><%= link_to 'Professor Jayashankar Telangana State Agricultural University, Hyderabad', 'http://www.pjtsau.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Sri Konda Laxman Telangana State Horticultural University, Hyderabad', 'http://www.skltshu.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Andhra Pradesh </h4>
            <ol>
              <li><%= link_to 'Dr. Y.S.R. Horticultural University, Venkataramannagudem, Tadepalli Gudem Mandal, West Godavari District', 'http://www.drysrhu.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Sri Venkateswara Veterinary University, Tirupati', 'http://svvu.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Acharya NG Ranga Agricultural University, Bapatla', 'http://www.agcbapatla.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Assam </h4>
            <ol>
              <li><%= link_to 'Assam Agricultural University, Jorhat', 'http://www.aau.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Bihar </h4>
            <ol>
              <li><%= link_to 'Bihar Agricultural University, Bhagalpur', 'http://www.bausabour.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Rajendra Agricultural University, Samastipur', 'http://www.pusavarsity.org.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Chhattisgarh </h4>
            <ol>
              <li><%= link_to 'Indira Gandhi Agricultural University, Raipur', 'http://www.igau.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> New Delhi </h4>
            <ol>
              <li><%= link_to 'Indian Agricultural Research Institute, New Delhi', 'http://www.iari.res.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Gujarat </h4>
            <ol>
              <li><%= link_to 'Anand Agricultural University, Anand', 'http://www.aau.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Junagadh Agricultural University, Junagadh', 'http://www.jau.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Navsari Agricultural University, Navsari', 'http://www.nau.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'rdarkrushinagar Dantiwada Agricultural University, Banaskantha', 'http://www.sdau.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Haryana </h4>
            <ol>
              <li><%= link_to 'Chaudhary Charan Singh Haryana Agricultural University, Hisar', 'http://hau.ernet.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Lala Lajpat Rai University of Veterinary and Animal Sciences, Hisar', 'http://www.luvas.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'National Dairy Research Institute, Karnal', 'http://www.ndri.res.in/ndri/Design/Index.html', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Himachal Pradesh </h4>
            <ol>
              <li><%= link_to 'Chaudhary Sarwan Kumar Himachal Pradesh Krishi Vishvavidyalaya, Palampur', 'http://www.hillagric.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Dr. Yashwant Singh Parmar University of Horticulture and Forestry, Solan', 'http://www.yspuniversity.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Jammu and Kashmir </h4>
            <ol>
              <li><%= link_to 'Sher-e-Kashmir University of Agricultural Sciences and Technology of Jammu, Jammu', 'http://www.skuast.org/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Sher-e-Kashmir University of Agricultural Sciences and Technology of Kashmir, Srinagar', 'http://www.skuastkashmir.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Jharkhand </h4>
            <ol>
              <li><%= link_to 'Birsa Agricultural University, Kanke', 'http://www.bauranchi.org/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Karnataka </h4>
            <ol>
              <li><%= link_to 'University of Agricultural Sciences and technology, Bangalore', 'http://www.uasbangalore.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'University of Agricultural Sciences, Dharwad', 'http://www.uasd.edu/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'University of Agricultural Sciences, Raichur', 'http://www.uasraichur.edu.in/beta/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'University of Horticultural Sciences, Bagalkot', 'http://www.uhsbagalkot.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Karnataka Veterinary, Animal and Fisheries Sciences University, Bidar', 'http://www.kvafsu.kar.nic.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'University of Agricultural and horticultural sciences, shimoga', 'http://uahs.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Kerala </h4>
            <ol>
              <li><%= link_to 'Kerala Agricultural University, Vellanikkara, Thrissur', 'http://www.kau.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Kerala University of Fisheries and Ocean Studies, Kochi', 'http://www.kufos.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Kerala Veterinary and Animal Sciences University, Wayanad', 'http://www.kvasu.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Madhya Pradesh </h4>
            <ol>
              <li><%= link_to 'Jawaharlal Nehru Agricultural University, Jabalpur', 'http://www.jnkvv.nic.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Rajmata Vijayaraje Scindia Krishi Vishwa Vidyalaya, Gwalior', 'http://www.rvskvv.net/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Maharashtra </h4>
            <ol>
              <li><%= link_to 'Dr. Balasaheb Sawant Konkan Krishi Vidyapeeth, Dapoli', 'http://www.dbskkv.org/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Dr. Panjabrao Deshmukh Krishi Vidyapeeth, Akola', 'http://www.pdkv.ac.in/#sthash.cOV5JExi.dpbs', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Maharashtra Animal and Fishery Sciences University', 'http://www.mafsu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Mahatma Phule Krishi Vidyapeeth, Rahuri', 'http://www.mpkv.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Vasantrao Naik Marathwada Agricultural University, Parbhani', 'http://www.mkv.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Central Institute of Fisheries Education, Mumbai', 'http://www.cife.edu.in/cifemod2/index.php', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Manipur </h4>
            <ol>
              <li><%= link_to 'Central Agricultural University, Iroisemba', 'http://www.cau.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Nagaland </h4>
            <ol>
              <li><%= link_to 'Nagaland University', 'http://nagalanduniversity.ac.in/English/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Odisha </h4>
            <ol>
              <li><%= link_to 'Orissa University of Agriculture and Technology, Bhubaneswar', 'http://www.ouat.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Punjab </h4>
            <ol>
              <li><%= link_to 'Punjab Agricultural University, Ludhiana', 'http://www.pau.edu/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Guru Angad Dev Veterinary and Animal Sciences University, Ludhiana', 'http://www.gadvasu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Desh Bhagat School of Agriculture Sciences Desh Bhagat University, Mandi Gobindgarh', 'http://www.deshbhagatuniversity.in/About.aspx', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Rajasthan </h4>
            <ol>
              <li><%= link_to 'Maharana Pratap University of Agriculture and Technology, Udaipur', 'http://www.mpuat.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Swami Keshwanand Rajasthan Agricultural University, Bikaner', 'http://raubikaner.org/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Shri Karan Narendra Agriculture University, Jobner', 'http://sknau.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Agriculture University, Jodhpur', 'http://www.au-ju.org/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Tamil Nadu </h4>
            <ol>
              <li><%= link_to 'Tamil Nadu Agricultural University, Coimbatore, Tamil Nadu, India', 'http://www.tnau.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Tamil Nadu Veterinary and Animal Sciences University, Madhavaram, Chennai, India', 'http://www.tanuvas.tn.nic.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Tamil Nadu Fisheries University, Nagapattinam, Tamil Nadu, India', 'http://tnfu.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Annamalai University, Chidambaram, Tamil Nadu, India', 'http://annamalaiuniversity.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Uttar Pradesh </h4>
            <ol>
              <li><%= link_to 'Chandra Shekhar Azad University of Agriculture and Technology, Kanpur', 'http://www.csauk.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Manyawar Shri Kanshiram Ji University of Agriculture and Technology, Banda', 'http://buat.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Narendra Dev University of Agriculture and Technology, Faizabad', 'http://www.nduat.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Sam Higginbottom Institute of Agriculture, Technology and Sciences, Allahabad', 'http://www.shiats.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Sardar Vallabhbhai Patel University of Agriculture and Technology, Meerut', 'http://www.svbpmeerut.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Banaras Hindu University, Varanasi', 'http://www.bhu.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Aligarh Muslim University, Aligarh', 'http://www.amu.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Indian Veterinary Research Institute, Bareilly', 'http://ivri.nic.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Uttar Pradesh Pandit Deen Dayal Upadhyaya Pashu Chikitsa Vigyan Vishwavidyalaya Evam Go Anusandhan Sansthan, Mathura', 'www.upvetuniv.edu.in/
', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Mahatma Gandhi Kashi Vidyapith University, Varanasi', 'http://www.mgkvp.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Chaudhary charan singh university, Meerut', 'http://www.ccsuniversity.ac.in/default.htm', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> Uttarakhand </h4>
            <ol>
              <li><%= link_to 'G. B. Pant University of Agriculture and Technology, Pantnagar', 'http://www.gbpuat.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
          <div class='col-md-12'>
            <h4> West Bengal </h4>
            <ol>
              <li><%= link_to 'Bidhan Chandra Krishi Viswavidyalaya', 'http://www.bckv.edu.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Uttar Banga Krishi Viswavidyalaya, Cooch Behar', 'http://www.ubkv.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'West Bengal University of Animal and Fishery Sciences, Kolkata', 'http://www.wbuafscl.ac.in/frmHome.aspx', target: '_blank', style: 'text-decoration:none;' %> </li>
              <li><%= link_to 'Visva-Bharati University, Santiniketan', 'http://www.visvabharati.ac.in/', target: '_blank', style: 'text-decoration:none;' %> </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-sidebar right">
    <div style='text-align:center;'>
      <div class="profile-userpic">
        <%= image_tag 'education.jpg' %>
      </div>
    </div>
    <div class="widget-1 first widget column3">
      <h3> Education & Universities </h3>
      <ul class="product_list_widget">
        <li id='overview'>
          <a href="#" style='text-decoration:none;'>
            <i class="glyphicon glyphicon-home"></i>
            Overview
          </a>
        </li>
        <li id='grow'>
          <a href="#" style='text-decoration:none;'>
            <i class="fa fa-pagelines"></i>
            State Universities
          </a>
        </li>
        <!-- <li id='seed'>
          <a href="http://smis.dacnet.nic.in/(S(eonmc5gyb5vc5tfeyimun5gj))/report/crvvarietyList.aspx?code=A0207" target="_blank"><i class="fa fa-tree"></i>
            Seed Variety </a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="clear-float"></div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>