<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Midloan</h2>
          </div>
          <h3> Agricultural Term Loans </h3>

          <p class='cat-content'>
            Loans are also available to farmers for the activities other than seasonal agricultural operations which are
            defined as loans with more than 18 months repayment period. These loans are termed as Term Loan or
            Investment Credit which are extended for upto 15 years and given for purposes such as dairy, plantation &
            horticulture, farm mechanisation, Minor Irrigation, Lift Irrigation schemes, land development activities,
            Sheep/ Goat Piggery development, Poultry development, Inland fisheries, Sericulture, Rural Godowns, Farm
            forestry plantations and other activities. (This list is just illustrative and not exhaustive. For details
            contact nearest bank branch)
          </p>

          <p class='cat-content'>
            The indicative unit cost for various activities is fixed by the State level Banker’s Committee (SLBC) in
            consultation with NABARD. At the time of actual financing the bank may fix the cost less or more than such
            indicative unit cost based on actual field level conditions justifying the variation.
          </p>

          <p class='cat-content'>
          <h5>Rate of Interest and Collateral Requirement </h5>
          The rate of interest on term loans is fixed by the banks as per RBI guidelines linked to their base rate fixed
          by their respective Board. Further, loans are provided from a period of 3 years upto 15 years. The limit of
          collateral free term loan has been increased from Rs.50,000 to Rs.1,00,000. For loans above Rs. 100,000 banks
          obtain securities as per RBI instructions.
          </p>
        </div>
      </div>
      <div class="content-sidebar right">
        <div style='text-align:center;'>
          <div class="profile-userpic">
            <%= image_tag 'midloan.jpg' %>
          </div>
        </div>
        <div class="widget-1 first widget column3">
          <h3> Midloan </h3>
          <ul class="product_list_widget">
            <li id='overview' class="active">
              <a href="#" style='text-decoration:none;'>
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear-float"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>