<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Nuts</h2>
          </div>
          <p class='cat-content'>
            <%= t('home.nut_content') %>
          </p>

          <p class='cat-content'>
            Most seeds come from fruits that naturally free themselves from the shell, unlike nuts such as hazelnuts,
            chestnuts, and acorns, which have hard shell walls and originate from a compound ovary. The general and
            original usage of the term is less restrictive, and many nuts, such as almonds, pecans, pistachios, walnuts,
            and Brazil nuts, are not nuts in a botanical sense. Common usage of the term often refers to any
            hard-walled, edible kernel as a nut.
          </p>
        </div>
        <div id='wheat-grow' style='display:none;'>
          <p class='cat-content'>
            A nut in cuisine is a much less restrictive category than a nut in botany, as the term is applied to many
            seeds that are not botanically true nuts. Any large, oily kernels found within a shell and used in food are
            commonly called nuts.
          </p>

          <p class='cat-content'>
            Nuts are an important source of nutrients for both humans and wildlife. Because nuts generally have a high
            oil content, they are a highly prized food and energy source. A large number of seeds are edible by humans
            and used in cooking, eaten raw, sprouted, or roasted as a snack food, or pressed for oil that is used in
            cookery and cosmetics. Nuts (or seeds generally) are also a significant source of nutrition for wildlife.
            This is particularly true in temperate climates where animals such as jays and squirrels store acorns and
            other nuts during the autumn to keep from starving during the late autumn, all of winter, and early spring.
          </p>

          <p class='cat-content'>
            Nuts used for food, whether true nut or not, are among the most common food allergens.
          </p>

          <p class='cat-content'>
            Raw mixed nuts, sold as a snack food. This is a "fancy" mix, meaning that it does not include peanuts.
            Some fruits and seeds that do not meet the botanical definition but are nuts in the culinary sense are:
          </p>

          <p class='cat-content'>
          <ul>
            <li>Almonds are the edible seeds of drupe fruits — the leathery "flesh" is removed at harvest.</li>
            <li>Brazil nut is the seed from a capsule.</li>
            <li>Candlenut (used for oil) is a seed.</li>
            <li>Cashew is the seed of an accessory fruit.</li>
            <li>Chilean hazelnut or Gevuina</li>
            <li>Macadamia is a creamy white kernel of a follicle type fruit.</li>
            <li>Malabar chestnut</li>
            <li>Pecan is the seed of a drupe fruit</li>
            <li>Mongongo</li>
            <li>Peanut is a seed and from a legume type fruit (of the family Fabaceae).</li>
            <li>Pine nut is the seed of several species of pine (coniferous trees).</li>
            <li>Pistachio is the seed of a thin-shelled drupe.</li>
            <li>Walnut (Juglans)</li>
            <li> Yeheb nut is the seed of a desert bush, Cordeauxia edulis</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="content-sidebar right">
        <div style='text-align:center;'>
          <div class="profile-userpic">
            <%= image_tag 'nuts.jpg' %>
          </div>
        </div>
        <div class="widget-1 first widget column3">
          <h3> Nuts </h3>
          <ul class="product_list_widget">
            <li id='overview' class="active">
              <a href="#" style='text-decoration:none;'>
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
            <li id='grow'>
              <a href="#" style='text-decoration:none;'>
                <i class="fa fa-pagelines"></i>
                Cook
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear-float"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>