<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Pulses</h2>
          </div>
          <p class='cat-content'>
            Pulses are consumed as Dal, which is a cheap source of plant protein. These are consumed because of body
            building properties having presence of various amino acids. These also have medicinal properties. By
            products of pulses like leaves, pod coats and bran are given to animals in the form of dry fodder. Some
            pulse crops like Gram, Lobia, Urdbean & Moongbean are fed to animals as green fodder. Moong plants are also
            used as green manure which improve soil health and adds nutrient into the soil.
          </p>

          <p class='cat-content'>
            A number of pulse crops are grown in India and world. Among the crops, major ones are Gram, Pigeonpea,
            Lentil, Fieldpeas etc. According to history, the origin of Gram is in South West Asia – probably Afghanistan
            and Persia, Pigeonpea in Africa, Lentil in Turkey to South Iran and Fieldpeas in Mediterranean Region of
            Southern Europe and Western Asia.
          </p>
        </div>
        <div id='wheat-grow' style='display:none;'>
          <h3> Indian Pulses Growing Zones </h3>

          <p class='cat-content'>
            Varietal Development programme of pulses got strengthened in 1967 with the initiation of All-India
            Co-ordinated Research Improvement Programme. Through this programme, the varieties suitable for across the
            country i.e. agro-climatic zones: Northern Hills Zone – J&K, Himachal Pradesh, North West of Uttar Pradesh;
            North West Plain Zone – Haryana, Punjab, Rajasthan, Gujarat, western Uttar Pradesh; North East Plain Zone –
            eastern Uttar Pradesh, Bihar, West Bengal, Assam, Tripura, Mizoram, Northern Odisha; Central Zone – Madhya
            Pradesh, Maharashtra, Parts of Karnataka, Andhra Pradesh; South Zone – Andhra Pradesh, Tamil Nadu, Kerala,
            Karnataka and southern Odisha have been developed.
          </p>
          <h5> Climatic Requirement</h5>

          <p class='cat-content'>
            Pulse crops are cultivated in Kharif, Rabi and Zaid seasons of the Agricultural year. Rabi crops require
            mild cold climate during sowing period, during vegetative to pod development cold climate and during
            maturity / harvesting warm climate. Similarly, Kharif pulse crops require warm climate throughout their life
            from sowing to harvesting. Summer pulses are habitants of warm climate. Seed is required to pass many stages
            to produce seed like germination, seedling, vegetative, flowering, fruit setting, pod development and grain
            maturity / harvesting.
          </p>
          <h5>Area, Production And Yield Of Major Pulse Crops Growing States In India </h5>

          <p class='cat-content'>
            There was 239 lakh ha area in India at triennium ending 2010-11, which was mainly contributed by Madhya
            Pradesh, Rajasthan, Maharashtra, Karnataka and Uttar Pradesh. From this area, 158 lakh tonnes production of
            pulse was received. The major contributors of this production were Madhya Pradesh, Maharashtra, Uttar
            Pradesh, Rajasthan and Andhra Pradesh. During this period, productivity of pulses was recorded as 661 kg /
            ha with highest in Punjab (905 kg/ha), Haryana (891), Bihar (839), Uttar Pradesh (823) and West Bengal
            (811).
          </p>
        </div>
      </div>
      <div class="content-sidebar right">
        <div style='text-align:center;'>
          <div class="profile-userpic">
            <%= image_tag 'pulses.jpg' %>
          </div>
        </div>
        <div class="widget-1 first widget column3">
          <h3> Pulses </h3>
          <ul class="product_list_widget">
            <li id='overview' class="active">
              <a href="#" style='text-decoration:none;'>
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>
            </li>
            <li id='grow'>
              <a href="#" style='text-decoration:none;'>
                <i class="fa fa-pagelines"></i>
                Growing Zones
              </a>
            </li>
            <li id='seed'>
              <%= link_to '<i class="fa fa-tree"></i> Seed Variety'.html_safe, '/Documents/pulses_seed_variety.pdf', target: '_blank', style: 'text-decoration:none;' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear-float"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .category-head {
    text-align: left;
    margin-left: 16px;
  }

  .cat-content {
    font-size: 1.15em;
    text-align: justify;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#wheat-grow').css('display', 'none')
  });
  $('#grow').click(function () {
    $('#wheat-grow').css('display', 'block')
    $('#wheat-show').css('display', 'none')
    $('#grow').addClass('active');
    $('#overview').removeClass('active');
  });
  $('#overview').click(function () {
    $('#wheat-grow').css('display', 'none')
    $('#wheat-show').css('display', 'block')
    $('#grow').removeClass('active');
    $('#overview').addClass('active');
  });
</script>