<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main">
        <div class="article-header">
          <h1 style='text-align: center;'> <%= t('home.reference') %> </h1>
          <ul style='text-align: center;'>
            <li class='list-group-item'>
              <%= link_to 'Crops', 'https://en.wikipedia.org/wiki/Crop' %>
            </li>
            <li class='list-group-item'>
              <%= link_to 'Loans', 'http://farmer.gov.in/shortloan.html' %>
            </li>
            <li class='list-group-item'>
              <%= link_to 'Nuts', 'https://en.wikipedia.org/wiki/Nut_(fruit)' %>
            </li>
            <li class='list-group-item'>
              <%= link_to 'Sands', 'http://www.climatenewsnetwork.net/farming-on-sand/' %>
            </li>
            <li class='list-group-item'>
              <%= link_to 'Seasons', 'http://www.yourarticlelibrary.com/notes/notes-on-agricultural-seasons-and-major-crops-in-india/12791/' %>
            </li>
            <li class='list-group-item'>
              <%= link_to 'Spices', 'https://en.wikipedia.org/wiki/List_of_Indian_spices' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>