<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left">
      <div id='wheat-show'>
        <div class="article-header">
          <h2>Rice</h2>
        </div>
          <h5>Oryza Sativa </h5>  
            <p class='cat-content'>
              it is believed, is associated with wet, humid climate, though it is not a tropical plant. It is probably a descendent of wild grass that was most likely cultivated in the foothills of the far Eastern Himalayas. Another school of thought believes that the rice plant may have originated in southern India, then spread to the north of the country and then onwards to China. It then arrived in Korea, the Philippines (about 2000 B. C.) and then Japan and Indonesia (about 1000 B. C.). 
            </p>
            <p class='cat-content'>
              The journey of rice around the world has been slow, but once it took root it stayed and became a major agriculture and economic product for the people. In the Indian subcontinent more than a quarter of the cultivated land is given to rice (20011-12). It is a very essential part of the daily meal in the southern and eastern parts of India. In the northern and central parts of the subcontinent, where wheat is frequently eaten, rice holds its own and is cooked daily as well as on festivals and special occasions.
            </p>
            <h5>History of Rice in India</h5> 
            <p class='cat-content'>
              India is an important centre of rice cultivation. The rice is cultivated on the largest areas in India. Historians believe that while the indica variety of rice was first domesticated in the area covering the foothills of the Eastern Himalayas (i.e. north-eastern India), stretching through Burma, Thailand, Laos, Vietnam and Southern China, the japonica variety was domesticated from wild rice in southern China which was introduced to India. Perennial wild rice still grow in Assam and Nepal. It seems to have appeared around 1400 BC in southern India after its domestication in the northern plains. It then spread to all the fertile alluvial plains watered by rivers. Some says that the word rice is derived from the Tamil word arisi.
            <h5>Climatic Requirements</h5> 
            <p class='cat-content'>
              In India rice is grown under widely varying conditions of altitude and climate. Rice cultivation in India extends from 8 to35ºN latitude and from sea level to as high as 3000 meters. Rice crop needs a hot and humid climate. It is best suited to regions which have high humidity, prolonged sunshine and an assured supply of water. The average temperature required throughout the life period of the crop ranges from 21 to 37º C. Maximum temp which the crop can tolerate 400C to 42 0C. 
            </p>
            <h5>Nutritional value of Rice</h5>
            <p class='cat-content'>
              Rice is a nutritional staple food which provides instant energy as its most important component is carbohydrate (starch). On the other hand, rice is poor in nitrogenous substances with average composition of these substances being only 8 per cent and fat content or lipids only negligible, i.e., 1per cent and due to this reason it is considered as a complete food for eating. Rice flour is rich in starch and is used for making various food materials. It is also used in some instances by brewers to make alcoholic malt. Likewise, rice straw mixed with other materials is used to produce porcelain, glass and pottery. Rice is also used in manufacturing of paper pulp and livestock bedding.
            <p class='cat-content'>
              The variability of composition and characteristics of rice is really broad and depends on variety and environmental conditions under which the crop is grown. In husked rice, protein content ranges in between 7per cent to 12per cent. The use of nitrogen fertilizers increases the percentage content of some amino acids.
            </p>
            <h5>Medicinal Value</h5>
            <p class='cat-content'>
              The immense diversity of rice germplasm is a rich source for many rice based products and is also used for treating many health related maladies such as indigestion, diabetes, arthritis, paralysis, epilepsy and give strength to pregnant and lactating mothers. Ancient Ayurvedic literature testify the medicinal and curative properties of different types of rice grown in India. Medicinal rice varieties like Kanthi Banko (Chhattisgarh), Meher, Saraiphul & Danwar (Orissa), Atikaya & Kari Bhatta (Karnataka), are very common in India. Few varieties cultivated in restricted pockets of Kerala for their medical properties e.g. Chennellu, Kunjinellu, Erumakkari & Karuthachembavu etc.
            </p>
      </div>
      <div id='wheat-grow' style='display:none;'>
        <h3> Indian Rice Growing Zones </h3>
            <%= image_tag 'indiarice.png' %>
      </div>
      <div id='rice-reference' style='display:none;'>
            <h3> India Rice References </h3>
             <table class='table table-hover table-condensed'>
              <thead>
                <tr>
                  <th>Institute</th>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Directorate of Rice Research (DRR)</strong><br />
                    Rajendra Nagar Andhra Pradesh<br />
                    <strong>Phone No:</strong>040 2459 1217.<br />
                    Project Director<br />
                    <strong>Email:</strong> <a href="mailto:pdrice@drricar.org" title="Email Us" target="_self">pdrice@drricar.org</a><br />
                      <strong>Fax No:</strong> +91-40-24591217</td>
                  <td><a href="http://www.drricar.org/" title="Directorate of Rice Research (DRR)" target="_blank">http://www.drricar.org/</a></td>
                </tr>
                <tr>
                  <td>Philippine Rice Research Institute<br />
                      Pan-Philippine Highway, Science City of Muñoz, Philippines <br />
                      <strong>Phone:</strong>+63 44 456 0285 </td>
                  <td><a href="http://www.philrice.gov.ph/" title="Philippine Rice Research Institute" target="_blank">http://www.philrice.gov.ph/</a></td>
                </tr>
                <tr>
                  <td><strong>Tamil Nadu Rice Research Institute</strong> <br />
                      Thanjavur District <br />
                      Tamil Nadu, India <br />
                      Telephone: 0435-2472098(Off.)<br />
                      <strong>Fax:</strong> 0435-2472881 <br />
                      <strong>Email:</strong> <a href="mailto:dirtrri @tnau.ac.in" title="Email us" target="_blank">dirtrri @tnau.ac.in</a></td>
                  <td><a href="http://www.tnau.ac.in/" title="Tamil Nadu Rice Research Institute" target="_blank">http://www.tnau.ac.in/</a></td>
                </tr>
                <tr>
                  <td><strong>Central Rice Research Institute</strong><br />
                      Cuttack (Orissa) 753 006, India<br />
                      <strong>Phone:</strong> +91-671-2367757; <br />
                      <strong>PABX:</strong> +91-671-2367768-783<br />
                      <strong>Fax:</strong> +91-671-2367663<br />
                      <strong>Email:</strong> <a href="mailto:directorcrri@sify.com" title="Email Us" target="_blank">directorcrri@sify.com</a> | <a href="mailto:crrictc@nic.in" title="Email Us" target="_blank">crrictc@nic.in</a></td>
                  <td><a href="http://www.crri.nic.in/" title="Central Rice Research Institute" target="_blank">http://www.crri.nic.in/</a></td>
                </tr>
                <tr>
                  <td><strong>Bangladesh Rice Research Institute,</strong><br />
                    Director General Bangladesh Rice Research Institute Gazipur 1701,Bangladesh<br />
                    <strong>Phone:</strong> (880-2) 9252736; 9257401-05. <br />
                    <strong>Fax:</strong> (880-2) 9261110 </td>
                  <td><a href="http://www.brri.gov.bd" title="Bangladesh Rice Research Institute" target="_blank">http://www.brri.gov.bd</a></td>
                </tr>
                <tr>
                    <td><strong>Hybrid Rice Research Network India</strong><br />
                    Directorate of Rice Research, Rajendranagar, <br />
                    Hyderabad - 500 030<br />
                    <strong>Fax:</strong> 040-4015308<br />
                    <strong>EPABX Phone No:</strong> 4015036-39, 4013109, 4013111-12; </td>
                    <td><a href="http://www.hybridriceindia.org" title="Hybrid Rice Research Network India" target="_blank">http://www.hybridriceindia.org</a></td>
                </tr>
                <tr>
                  <td><strong>Australian Centre for International Agricultural Research (ACIAR)</strong><br />
                    38 Thynne Street, Fern Hill Park BRUCE ACT<br />
                    <strong>Phone:</strong> 61 2 6217 0500<br />
                    <strong>Fax:</strong> 61 2 6217 0501<br />
                      <strong>ABN:</strong> 34 864 955427<br /></td>
                  <td><a href="http://aciar.gov.au" title="Australian Centre for International Agricultural Research (ACIAR)" target="_blank">http://aciar.gov.au</a></td>
                </tr>
                <tr>
                  <td><strong>PHI Seeds Private Limited</strong> Babukhan Millenium Centre<br />
                      III Floor, 6-3-1099/1100<br />
                      Rajbhavan Road,Somajiguda <strong>Phone No:</strong> 91 - 40 - 30434400
                      Hyderabad - 500 082 Andhra Pradesh </td>
                  <td><a href="http://www.pioneer.com/india" title="PHI Seeds Private Limited" target="_blank">http://www.pioneer.com/india</a></td>
                </tr>
              </tbody>
            </table>
          </div>
   </div>
   <div class="content-sidebar right">
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'rice.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Rice</h3>
        <ul class="product_list_widget">
          <li id='overview'>
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
               Growing Zones  
            </a>
          </li>
         <!--  <li id='reference' >
            <a href="#">
              <i class="fa fa-database"></i>
               References
            </a>
          </li> -->
          <li id='seed'>
              <%= link_to '<i class="fa fa-tree"></i> Seed Variety'.html_safe,'/Documents/rice_seed_variety.pdf',target: '_blank' ,style: 'text-decoration:none;' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>
<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
$('#rice-reference').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
  $('#rice-reference').css('display','none')
  $('#grow').addClass('active');
  $('#overview').removeClass('active');
  $('#reference').removeClass('active');
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
  $('#rice-reference').css('display','none')
  $('#grow').removeClass('active');
  $('#overview').addClass('active');
  $('#reference').removeClass('active');
});
$('#reference').click(function(){
 $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','none')
  $('#rice-reference').css('display','block')
  $('#grow').removeClass('active');
  $('#overview').removeClass('active');
  $('#reference').addClass('active');
});
</script>