<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left">
      <div id='wheat-show'>
        <div class="article-header">
          <h2>Sands</h2>
        </div>
            <p class='cat-content'>
            <%= t('home.sand_content') %>
          </p>
          <h5>Widespread flooding </h5> 
          <p class='cat-content'>
              According to a recent report by India’s Third Pole organisation, the Brahmaputra carries a volume of water exceeded only by the Amazon and Congo rivers – and greater than the combined flow of Europe’s 20 largest rivers.
          </p>
          <p class='cat-content'>
              The river is a lifeline to millions, delivering vital nutrients to the soils of the plains but its fast flowing waters also cause widespread misery to people like Krishna.
          </p>
          <p class='cat-content'>
            Floods are frequent. There is widespread erosion and massive amounts of sand washed out of the river’s banks are deposited on surrounding fields, making once verdant areas into what looks like an enormous beach. The floods also bring invasive plant species that colonise agricultural lands.
          </p>
          <p class='cat-content'>
            More than 40% of Assam’s geographical area is designated as being flood prone: more than 1.5 million people were displaced by floods in 2012, lives were lost and whole villages were washed away.
          </p>
      </div>
      <div id='wheat-grow' style='display:none;'>
        <h3> Sand accumulations </h3>
            <p class='cat-content'>
              “The waters were so deep and stayed so long that the grass was destroyed and our cattle died because they had no fodder” says Krishna.
            </p>
            <p class='cat-content'>
              "The sand means our land is no good anymore – my husband has given up being a farmer and is working in construction. Many young men go away to try and find jobs, there is nothing for them here.”
            </p>
            <p class='cat-content'>
              Locals – the majority of whom are poor, subsistence farmers – say river flows are becoming more unpredictable, with erosion and what’s called sandcasting becoming worse.
            </p>
            <p class='cat-content'>
              In part the flooding caused by the Brahmaputra’s waters is a natural phenomenon which has been going on for centuries. As the river’s waters cascade down from the Tibetan Plateau and Himalayas, millions of tons of sediment is washed onto the alluvial plains of Assam and others states in India’s northeast.
            </p>
            <h5>Earthquake danger </h5>
            <p class='cat-content'>
                There are other forces at work: the region is a highly seismic zone. In 1950 the Brahmaputra river basin suffered one of the most violent earthquakes ever recorded. The geology of the area was changed and the river level was raised dramatically, by between eight and 10 metres in places.
            </p>
            <p class='cat-content'>
              Climate change is another factor, with a combination of rising temperatures and accumulations of what’s known as black carbon or soot in the high Himalayas and on the Tibetan Plateau causing glaciers which feed into upper reaches of the Brahmaputra to melt.
            </p>
            <p class='cat-content'>
              Increasingly unpredictable rainfall patterns, with periods of intense downpours, are also contributing to more volatile river flows.
            </p>
            <p class='cat-content'>
              Professor Jogendra Nath Sarma is a locally based geologist who has been studying the Brahmaputra for years.
            </p>
            <p class='cat-content'>
              “Over time different rivers in the Brahmaputra basin have merged, braiding over a very wide area. Thousands of square kilometres of land has been eaten away. Rampant deforestation is another big contributor to land erosion. “
            </p>
            <p class='cat-content'>
                In the past, says Professor Sarma, people would migrate to higher ground during the flood season but now, due to population growth and large scale immigration, there is nowhere for them to go.
            </p>
      </div>
   </div>
   <div class="content-sidebar right" >
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'sands.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Sands </h3>
        <ul class="product_list_widget">
          <li id='overview' class="active">
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
              Sand accumulations
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>

<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
  $('#grow').addClass('active');
  $('#overview').removeClass('active');
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
  $('#grow').removeClass('active');
  $('#overview').addClass('active');
});
</script>