<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left">
      <div id='wheat-show'>
        <div class="article-header">
          <h2>Seasons</h2>
        </div>
           <p class='cat-content'>
            <%= t('home.season_content1') %>
          </p>
          <h3>Agricultural Development: </h3> 
          <p class='cat-content'>
              Though agricultural production has increased several fold after independence still, there are certain features which hampers balanced growth and development. So certain changes were made in pattern of cropping to make our country self sufficient such as:
          </p>
          <ul>
            <li>Zamidari system was abolished</li>
            <li>Small land holdings (quite uneconomical) were consolidated </li>
            <li>Certain non-traditional areas developed like Punjab known for wheat began to grow rice. </li>
            <li>New varieties of high yielding seeds developed. </li>
            <li>Electricity provided to install their own tube-wells. </li>
            <li> Efforts to provide marketing and transport facili­ties to farmers. </li>
          </ul>
          <h3>Agricultural Seasons in India: </h3> 
          <h5>1. The Kharif Season: </h5>
          <p class='cat-content'>
              Crops are sown at the be­ginning of south-west monsoon and harvested at the end of the south-west monsoon.
          </p>
          <ul>
            <li>Sowing Season: May to July. </li>
            <li>Harvesting Season : September to October. </li>
            <li>Important Crops: Jowar, Bajra, Rice, Maize, Cotton, Groundnut, Jute, Hemp, Tobacco etc. </li>
          </ul>
          <h5>2. The Rabi Season: </h5>
          <p class='cat-content'>
            Crops need cool climate during growth period but warm climate during the germination of seed and maturation. Sowing Season: October to December Harvesting Season: February to April Important Crops: Wheat, Barley, Gram, Linseed, Mustard, Masoor & Peas.
          </p>
           <h5>3. The Zaid Season: </h5> 
          <p class='cat-content'>
            These Crops are raised throughout the year due to artificial irrigation.
          </p>
            <h6>1. Zaid Kharif Crops: </h6>
            <ul>
              <li> Sowing Season: August to September</li>
              <li> Harvesting Season: December-January </li> 
              <li> Important Crops: Rice, Jowar, Rapeseed, Cotton, Oilseeds. </li>
            </ul>
            <h6>2. Zaid Rabi Crops:</h6>
            <ul>
              <li> Sowing Season: February to March. </li>
              <li> Harvesting Season: April-May. </li>
              <li> Important Crops: Watermelon, Toris, Cucum­ber & other vegetables. </li>
            </ul>
      </div>
      <div id='wheat-grow' style='display:none;'>
        <h3> Agricultural Production </h3>
            <table class='table table-hover table-condensed'>
              <thead>
                <tr>
                  <td> Crops </td>
                  <td> 1997-98 </td> 
                  <td> 1998-99 </td>
                  <td> 1999-2000 </td>
                  <td> 2000-01 </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rice </td>
                  <td>82.5 </td>
                  <td> 86.0</td>
                  <td>89.5 </td>
                  <td>86.7  </td>
                </tr>
                <tr>
                  <td>Wheat Coarse </td>
                  <td>66.3 </td>
                  <td>71.3</td>
                  <td>75.6 </td>
                  <td>70.0 </td>
                </tr>
                <tr>
                  <td>Cereals </td>
                  <td>30.4 </td>
                  <td>31.2 </td>
                  <td>30.5 </td>
                  <td>29 9  </td>
                </tr>
                <tr>
                  <td>Pulses </td>
                  <td>13.0 </td>
                  <td>14.9 </td>
                  <td> 13.4</td>
                  <td>11.7  </td>
                </tr>
                <tr>
                  <td> Total food- grains  </td>
                  <td> 192.3 </td>
                  <td>203.5 </td>
                  <td> 208.9  </td>
                  <td>198.3 </td>
                </tr>
                <tr>
                  <td>Kharif food-grains  </td>
                  <td> 101.6 </td>
                  <td>102.8  </td>
                  <td>104.9  </td>
                  <td> 102.0</td>
                </tr>
                <tr>
                  <td>Rabi food-grains  </td>
                  <td>90.7   </td>
                  <td> 100.7 </td>
                  <td>104.0  </td>
                  <td> 96.3</td>
                </tr>
                <tr>
                  <td>Oilseeds  </td>
                  <td> 21.3   </td>
                  <td>24.7   </td>
                  <td>20.9   </td>
                  <td>18.6 </td>
                </tr>
                <tr>
                  <td>Sugarcane </td>
                  <td>279.5  </td>
                  <td> 288.7 </td>
                  <td>299.2  </td>
                  <td>300.6 </td>
                </tr>
                <tr>
                  <td>Cotton  </td>
                  <td>10.9   </td>
                  <td>12.3   </td>
                  <td>11.6   </td>
                  <td>13.2 </td>
                </tr>
                <tr>
                  <td>Jute/Mesta  </td>
                  <td>11.0   </td>
                  <td>9.8  </td>
                  <td> 10.5  </td>
                  <td>9.9 </td>
                </tr>
              </tbody>
            </table>
      </div>
   </div>
   <div class="content-sidebar right" >
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'season.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Seasons </h3>
        <ul class="product_list_widget">
          <li id='overview'>
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
              Agricultural Production
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>

<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
  $('#grow').addClass('active');
  $('#overview').removeClass('active');
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
  $('#grow').removeClass('active');
  $('#overview').addClass('active');
});
</script>