<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left">
      <div id='wheat-show'>
        <div class="article-header">
          <h2>Short Term Investment</h2>
        </div>
          <h3> Loan Facilities for Short Term Agricultural Operations </h3>
          <h5> Crop Loans </h5>
            <p class='cat-content'>
              Crop Loans are also called short term loans for “Seasonal Agricultural Operations.” The Seasonal Agricultural Operations connote such activities as are undertaken in the process of raising various crops and are seasonally recurring in nature. The activities include, among others, ploughing and preparing land for sowing, weeding, transplantation where necessary, acquiring and applying inputs such as seeds, fertilizers, insecticides etc. and labour for all operations in the field for raising & harvesting the crops. Thus, the credit required to meet the current expenditure for raising the crops on land till the crops are harvested is construed as production or short term credit for seasonal agricultural operations.
            </p>
      </div>
      <div id='wheat-grow' style='display:none;'>
         <h3>Kisan Credit Card Scheme </h3>
            <p class='cat-content'>
              Crop loans are generally disbursed by the banks through the mode of Kisan Credit Card (KCC). The Kisan Credit Card Scheme is in operation throughout the country and is implemented by Commercial Banks, Cooperative Banks and RRBs. All farmers including small farmers, marginal farmers, share croppers, oral lessees and tenant farmers are eligible for issuance of KCC. KCC holders are also covered under Personal Accident Insurance Scheme (PAIS) against accidental death/permanent disability. Bank assesses farmer’s eligibility on the basis of land available for cultivation and the scale of finance fixed by the District Level Technical Committee in that district and the credit history of the farmer. The scope of the KCC has recently been broad-based to include term credit and consumption needs. Government has advised the banks to convert Kisan Credit Card into a Smart Card cum Debit Card.
            </p>
            <h5>Some of the main features of KCC scheme are : </h5>
            <p class='cat-content'>
              <ul>
                <li>Assessment of crop loan component based on the scale of finance for the crop plus insurance premium x Extent of area cultivated + 10% of the limit towards post-harvest / household/consumption requirements + 20% of limit towards maintenance expenses of farm assets. </li>
                <li>Flexi KCC with simple assessment prescribed for marginal farmers. </li>
                <li>Validity of KCC for 5 years. </li>
                <li>For crop loans, no separate margin need to be insisted as the margin is in-built in scale of finance. </li>
                <li>No withdrawal in the account to remain outstanding for more than 12 months; no need to bring the debit balance in the account to zero at any point of time. </li>
                <li>Interest subvention /incentive for prompt repayment to be available as per the Government of India and / or State Government norms. </li>
                <li>No processing fee up to a limit of Rs. 3.00 lakh. </li>
                <li>One time documentation at the time of first availment and thereafter simple declaration (about crops raised/ proposed) by farmer. </li>
                <li>KCC cum SB account instead of farmers having two separate accounts. </li>
                <li>The credit balance in KCC cum SB account to be allowed to fetch interest at saving bank rate. </li>
                <li>Disbursement through various delivery channels, including ICT driven channels like ATM/ PoS/ Mobile handsets.</li>
              </ul>
            </p>
            <h3>Rate of interest and collateral requirement on crop loans </h3>
            <p class='cat-content'>
              In terms of Govt. of India instructions for 2013-14, all the crop loans upto Rs. 3 lakh are being disbursed at the interest rate of 7% p.a. Govt. of India also provides interest subvention of 3% p.a. to prompt repaying farmers, thus making available the crop loans to them at 4% p.a. To bring more and more farmers within the institutional credit fold, Government has extended this scheme to crop loans borrowed by farmers from Private Sector scheduled commercial banks in respect of loans given within the service area of the branch concerned.
            </p>
            <p class='cat-content'>
              Crop loans beyond Rs. 3 Lakh are being disbursed by the banks at the rate of interest as per RBI and other conditions as approved by their Board of Directors. In terms of RBI instructions, no separate security is required for crop loans upto Rs. 1 Lakh. Beyond Rs. 1 lakh the security is decided by the individual bank in terms of RBI guidelines.
            </p>
            <h3>Rate of interest for post harvest storage loan </h3>
            <p class='cat-content'>
              At present concessional crop loan @7% with interest rate subvention is available to farmers as pre-harvest loan. However, in case of post-harvest loan against the negotiable warehouse receipts, the farmers are granted loan at commercial rates. In order to discourage distress sale by farmers and to encourage them to store their produce in warehousing against warehouse receipts, the benefit of interest subvention is available to small and marginal farmers having Kisan Credit Card for a further period of upto six month post harvest on the same rate as available to crop loan against negotiable warehouse receipt for keeping their produce in warehouses.
            </p>
      </div>
      <div id='kcc-banks'>
        <div class="article-header">
          <h2>Kisan Credit Card Scheme in Banks</h2>
        </div>
          <ol>
            <li>
              <%= link_to 'Kisan Credit Card - Bank Of India','http://www.bankofindia.co.in/english/KisanCreditCard.aspx',target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Kisan Credit Card KCC - State Bank of India','http://www.sbi.co.in/portal/web/agriculture-banking/kisan-credit-card-kcc',target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Rupay Kisan card - INDIAN BANK','http://www.indian-bank.com/loans.php?by=23&ty=1',target: '_blank' %>
            </li>
             <li>
              <%= link_to 'Kisan Credit Card - Union Bank of India','http://www.unionbankofindia.co.in/RABD_Short_Kisan_Credit_Card.aspx',target: '_blank' %>
            </li>
             <li>
              <%= link_to 'Rural Banking - Agriculture Loan & Credit by UCO Bank ','https://www.ucobank.com/rural-banking/agriculture-credit.aspx#.VfgSan9Suko',target: '_blank' %>
            </li>
             <li>
              <%= link_to 'Cent Kisan Credit Card ( CKCC) - Central Bank of India','https://www.centralbankofindia.co.in/site/MainSite.aspx?status=3&menu_id=102',target: '_blank' %>
            </li>
             <li>
              <%= link_to 'Baroda Kisan Credit Card (BKCC) - Bank of Baroda','http://www.bankofbaroda.co.in/rur/bkcc.asp',target: '_blank' %>
            </li>
          </ol>
      </div>
   </div>
   <div class="content-sidebar right">
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'loans.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Short Term Investment </h3>
        <ul class="product_list_widget">
         <li id='overview' class="active">
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
               Kisan Credit Card Scheme  
            </a>
          </li>
          <li id='bank' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-university"></i>
               Kisan Credit Card Scheme in Banks
            </a>
          </li>
           <li id='bank' >
            <a href="http://www.tamilnadustat.com/agriculture/2/kisancreditcard/206866/stats.aspx" style='text-decoration:none;' target='_blank'> 
              <i class="fa fa-line-chart"></i>
               Statistical Analysis
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>

<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
$('#kcc-banks').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
 $('#kcc-banks').css('display','none')
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
 $('#kcc-banks').css('display','none')
});
$('#bank').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','none')
 $('#kcc-banks').css('display','block')
});
</script>