<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" >
        <div class="article-header">
          <h2><%= @page.title %></h2>
          <p><%= @page.content.html_safe %> </p>
        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>