<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left">
        <div class="article-header">
          <h2>States</h2>
        </div>
          <div id='state-show'>
            <%= render 'show_state' %>
          </div>
   </div>
   <div class="content-sidebar right" >
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'States.png' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> States </h3>
        <ul class="product_list_widget">
          <li>
            <%= select_tag('id',options_for_select(CS.states(:IN).map{ |u| [ u[1] , u[1] ] } ),prompt: "--Select State--",class: 'form-control',data: { remote: true,url: url_for( action: :states) })%>
          </li>
           <%# CS.states(:IN).each do |state| %>
            <!-- <li> -->
              <%#= link_to state[1],states_pages_path(id: state[1]),remote: true  %>
            <!-- </li> -->
          <%# end %>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>

<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>