<div class="content">
  <div class="wrapper">
  <div class="content-block">             
    <div class="content-main alternate left" style='overflow-x: hidden;'>
      <div id='wheat-show'>
        <div class="article-header">
          <h2>Sugarcane</h2>
        </div>
           <p class='cat-content'>
              Sugarcane (Saccharum officinarum) family Gramineae (Poaceae) is widely grown crop in India. It provides employment to over a million people directly or indirectly besides contributing significantly to the national exchequer. Sugarcane growing countries of the world lay between the latitude 36.7° north and 31.0° south of the equator extending from tropical to subtropical zones. Sugar cane originated in New Guinea where it has been known for thousands of years. Sugar cane plants spread along human migration routes to Asia and the Indian subcontinent. Here it cross-bred with some wild sugar cane relatives to produce the commercial sugar cane we know today.
            </p>
            <p class='cat-content'>
              In India, maize is the third most important food crops after rice and wheat. According to advance estimate its production is likely to be 22.23 M Tonnes (2012-13) mainly during Kharif season which covers 80% area. Maize in India, contributes nearly 9 % in the national food basket. In addition to staple food for human being and quality feed for animals, maize serves as a basic raw material as an ingredient to thousands of industrial products that includes starch, oil, protein, alcoholic beverages, food sweeteners, pharmaceutical, cosmetic, film, textile, gum, package and paper industries etc. 
            </p>
      </div>
      <div id='wheat-grow' style='display:none;'>
          <h3> Indian Maize Growing Zones </h3>
             <p class='cat-content'>
              Broadly there are two distinct agro-climatic regions of sugarcane cultivation in India, viz., tropical and subtropical. However, five agro-climatic zones have been identified mainly for the purpose of varietal development. They are (i)North Western Zone (ii) North Central Zone (iii) North Eastern Zone (iv) Peninsular Zone (v) Coastal Zone.
            </p>
            <p class='cat-content'>
              Tropical region Shared about 45% and 55% of the total sugarcane area and production in the country, respectively along with the average productivity of 77 t/ha (2011-12). Sub-tropical region accounted for about 55% and 45% of total area and production of sugarcane with an average productivity about 63 t/ha (2011-12)
            </p>
            <h3>Tropical Sugarcane region </h3>
            <p class='cat-content'>
              The tropical sugarcane region consists of sugarcane agro climatic zone 4 (peninsular zone) and 5(Coastal zone) which includes the states of Maharashtra, Andhra Pradesh, Tamil Nadu, Karnataka, Gujarat, Madhya Pradesh, Goa, Pondicherry and Kerala.
            </p>
            <p class='cat-content'>
             <strong>Sub-tropical sugarcane region:</strong>  Around 55 per cent of total cane area in the country is in the sub-tropics. U.P, Bihar, Haryana and Punjab comes under this region.
            </p>
            <p class='cat-content'>
              <strong>Crop distribution: </strong>
              Sugarcane growing countries of the world are lying between the latitude 36.70 north and 31.00 south of the equator extending from tropical to sub-tropical zones. In India sugarcane is cultivated all over the country from latitude 80 N to 330 N, except cold hilly areas like Kashmir valley, Himachal Pradesh and Arunachal Pradesh.
            </p>
            <h5>Climatic requirement </h5>
            <p class='cat-content'>
             <strong>Temperature for different critical stages of sugarcane:</strong>The different critical stages are germination, tillering, early growth, active growth and elongation. Optimum temperature for sprouting (germination) of stem cuttings is 32° to 38°c. It slows down below 25°, reaches plateau between 30°-34°. Temperatures above 38° reduce the rate of photosynthesis and increase respiration. For ripening, however, relatively low temperatures in the range of 12° to 14° are desirable. 
            </p>
            <p class='cat-content'>
              <strong> Reduction in yield of sugarcane due to rise in temperature </strong>
              The sugarcane productivity and juice quality are profoundly influenced by weather conditions prevailing during the various crop-growth sub-periods. Sugar recovery is highest when the weather is dry with low humidity; bright sunshine hours, cooler nights with wide diurnal variations and very little rainfall during ripening period. These conditions favour high sugar accumulation. The climatic conditions like very high temperature or very low temperature deteriorate the juice quality and thus affecting the sugar quality. Favourable climate like warm and humid climate favour the insect pests and diseases, which cause much damage to the quality and yield of its juice and finally sucrose contents.
            </p>
        <table class='table table-hover table-condensed'>
          <thead>
            <tr>
              <th>References </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="http://www.upcane.org/sis/en/index.asp" target="_blank" title="www.upcane.org">http://www.upcane.org/sis/en/index.asp</a></td>
            <td><a href="www.sugarcaneweb.co.uk" title="www.sugarcaneweb.co.uk" target="_blank">www.sugarcaneweb.co.uk</a></td>
            <td><a href="http://www.sugarindia.com/glossary.htm" title="http://www.sugarindia.com/glossary.htm" target="_blank">http://www.sugarindia.com/glossary.htm</a></td>
          </tr>
          <tr>
            <td><a href="www.bonsucro.com" title="www.bonsucro.com" target="_blank">www.bonsucro.com</a></td>
            <td><a href="http://www.fcamin.nic.in/dfpd_html/index.asp" title="http://www.fcamin.nic.in/dfpd_html/index.asp" target="_blank">http://www.fcamin.nic.in/dfpd_html/index.asp</a></td>
            <td><a href="http://ncdc.nic.in/index.php" title="http://ncdc.nic.in/index.php" target="_blank">http://ncdc.nic.in/index.php</a></td>
          </tr>
          <tr>
            <td><a href="http://www.coopsugar.org" title="http://www.coopsugar.org" target="_blank">http://www.coopsugar.org</a></td>
            <td><a href="http://www.indiansugar.com" title="http://www.indiansugar.com" target="_blank">http://www.indiansugar.com</a></td>
            <td><a href="www.sugarbazar.com" title="www.sugarbazar.com" target="_blank">www.sugarbazar.com</a></td>
          </tr>
          <tr>
            <td><a href="http://nsi.gov.in" title="http://nsi.gov.in" target="_blank">http://nsi.gov.in</a></td>
            <td><a href="http://www.issct.org" title="http://www.issct.org" target="_blank">http://www.issct.org</a></td>
            <td><a href="http://www.indiansugar.com" title="http://www.indiansugar.com" target="_blank">http://www.indiansugar.com</a></td>
          </tr>
          </tbody>
        </table>
        <h5>Area, production and yield of sugarcane in major growing states </h5>
          <p class='cat-content'>
            In Tropical zone Maharashtra is the major sugarcane growing state covering about 9.4 lakh ha area with production of 61.32 Million ton, whereas the productivity of Tamil Nadu is highest in tropical zones. Uttar Pradesh is the highest sugarcane producing State in sub tropical zone having area about 22.77 Lakh ha with the production of 135.64 Million Ton cane whereas Haryana has highest productivity of sugarcane in Sub tropical zone.
          </p>
      </div>
   </div>
   <div class="content-sidebar right">
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'sugarcane.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Sugarcane </h3>
        <ul class="product_list_widget">
          <li id='overview'>
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
               Growing Zones  
            </a>
          </li>
          <li id='seed'>
            <%= link_to '<i class="fa fa-tree"></i> Seed Variety'.html_safe,'/Documents/sugarcane_seed_variety.pdf',target: '_blank' ,style: 'text-decoration:none;' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>
    
  </div>
</div>

<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
  $('#grow').addClass('active');
  $('#overview').removeClass('active');
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
  $('#grow').removeClass('active');
  $('#overview').addClass('active');
});
</script>