<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main alternate left">
        <div id='wheat-show'>
          <div class="article-header">
            <h2>Wheat</h2>
          </div>
            <p class='cat-content'>
              Wheat is the main cereal crop in India. The total area under the crop is about 29.8 million hectares in the country. The production of wheat in the country has increased significantly from 75.81 million MT in 2006-07 to an all time record high of 94.88 million MT in 2011-12. The productivity of wheat which was 2602 kg/hectare in 2004-05 has increased to 3140 kg/hectare in 2011-12. The major increase in the productivity of wheat has been observed in the states of Haryana, Punjab and Uttar Pradesh. Higher area coverage is reported from MP in recent years.
            </p>
            <p class='cat-content'>
              Indian wheat is largely a soft/medium hard, medium protein, white bread wheat, somewhat similar to U.S. hard white wheat. Wheat grown in central and western India is typically hard, with high protein and high gluten content. India also produces around 1.0-1.2 million tons of durum wheat, mostly in the state of Madhya Pradesh. Most Indian durum is not marketed separately due to segregation problems in the market yards. However, some quantities are purchased by the private trade at a price premium, mainly for processing of higher value/branded products.
            </p>
            <p class='cat-content'>
              The production and productivity of Wheat crop were quite low, when India became independent in 1947. The production of Wheat was only 6.46 million tonnes and productivity was merely 663 kg per hectare during 1950-51, which was not sufficient to feed the Indian population. The Country used to import Wheat in large quantities for fulfilling the needs of our people from many countries like USA under PL-480. The reasons of low production and productivity of Wheat at that time was (a) the tall growing plant habit resulting in lodging, when grown under fertile soils, (b) the poor tillering and low sink capacity of the varieties used, (c) higher susceptibility to diseases, (d) the higher sensitivity to thermo & photo variations, etc., resulting in poor adaptability, and (e) longer crop duration resulting in a long exposure of plants to the climatic variations and insect pest / disease attacks. 
            </p>
            <p class='cat-content'>
              The Government of India appointed a commission in 1961 to assess the feasibility of increasing the crop productivity under prevailing Indian ecological conditions. As result of various steps taken by Govt. of India, the Wheat scenario in our country has completely changed. In the post Independence era, country used to import Wheat for our needs but due to bumper increase in the production and productivity of Wheat in the 'Green Revolution' period in late sixties, our country became self dependent in Wheat production. At present, country is producing much more excess Wheat than the requirement and Godowns are over-flooded with Wheat.
            </p>
          </div>
          <div id='wheat-grow' style='display:none;'>
            <h3> Indian Wheat Growing Zones </h3>
            <table class='table table-hover table-condensed'>
              <thead>
              <tr>
                <th>Zones</th>
                <th>States/Regions Covered</th>
                <th>Approx Area(million ha)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Northern Hill Zone(NHZ)</td>
                <td>Hilly areas of J&amp;K( except Jammu, Kathua and Samba districts), Himachal Pradesh (  except Una &amp; Paonta valley),Uttarakhand(excluding Tarai region) &amp; Sikkim</td>
                <td>0.8</td>
              </tr>
              <tr>
                <td>North  Western  Plains Zone(NWPZ)</td>
                <td>Punjab,Haryana,Western UP(except Jhansi Div),Rajasthan (excluding Kota &amp; Udaipur div),Delhi, Tarai region of Uttarakhand, Una &amp; Paonta valley of
              HP, Jammu,Samba &amp; Kathua districts of J&amp;K and Chandigarh.</td>
                <td>11.55</td>
              </tr>
              <tr>
                <td>North   Eastern   Plains Zone(NEPZ)</td>
                <td>Eastern UP(28 dist),Bihar,Jharkhand,West Bengal,Assam, Odisha and other NE states (except Sikkim)</td>
                <td>10.5</td>
              </tr>
              <tr>
                <td>Central Zone</td>
                <td>MP,Gujarat,Chattisgarh,Kota &amp; Udaipur Div of Rajasthan &amp; Jhansi Div of UP.</td>
                <td>5.2</td>
              </tr>
              <tr>
                <td>Peninsular Zone</td>
                <td>Maharashtra,  Tamil  Nadu(except Nilgiris &amp; Palani  Hills),Karnataka &amp; Andhra Pradesh </td>
                <td>1.6</td>
              </tr>
              <tr>
                <td>Southern Hill Zone(SHZ)</td>
                <td>Nilgiris &amp; Palani Hills of Tamil Nadu </td>
                <td>0.1</td>
              </tr>
            </tbody>
            </table>
            <h3>Climate requirement </h3>
              <p class='cat-content'>
                Wheat crop has wide adaptability. It can be grown not only in the tropical and sub-tropical zones, but also in the temperate zone and the cold tracts of the far north ,beyond even the 60 degree north altitude . Wheat can tolerate severe cold and snow and resume growth with the setting in of warm weather in spring .It can be cultivated from sea level to as high as 3300 meters.
              </p>
              <p class='cat-content'>
                The best wheat are produced in areas favoured with cool, moist weather during the major portion of the growing period followed by dry, warm weather to enable the grain to ripen properly. The optimum temperature range for ideal germination of wheat seed is 20-25 C though the seeds can germinate in the temperature range 3.5 to 35 c. Rains just after sowing hamper germination and encourage seedling blight. Areas with a warm and damp climate are not suited for wheat growing.
              </p>
              <p class='cat-content'>
                During the heading and flowering stages, excessively high or low temperatures and drought are harmful to wheat. Cloudy weather, with high humidity and low temperatures is conducive for rust attack. Wheat plant requires about 14-15 c optimum average temperature at the time of ripening . The temperature conditions at the time of grain filling and development are very crucial for yield. Temperatures above 250c during this period tend to depress grain weight. When temperatures are high, too much energy I lost through the process of transpiration by the plants and the reduced residual energy results in poorer grain formation and lower yields. Wheat is mainly a rabi (winter) season crop in India.
              </p>
            <h3> Soil </h3>
              <p class='cat-content'>
                Wheat is grown in a variety of soils of India. Soils with a clay loam or loam texture, good structure and moderate water holding capacity are ideal for wheat cultivation. Care should be taken to avoid very porous and excessively drained oils. Soil should be neutral in its reaction. Heavy soil with good drainage are suitable for wheat cultivation under dry conditions. These soils absorb and retain rain water well. Heavy soils with poor structure and poor drainage are not suitable as wheat is sensitive to water logging. Wheat can be successfully grown on lighter soils provided their water and nutrient holding capacity are improved.
              </p>
            <h3>Fertilizer management </h3>
              <p class='cat-content'>
                The time and placement of fertilizer is another area where significant progress was made. It was demonstrated that 120 kg nitrogen, 60 kg phosphorus and 30 kg potash per hectare were required for optimum productivity. The N was to be applied in two split doses of 60 kg as basal and the remaining 60 kg at first irrigation and full phosphorus and potash to be applied as basal. Recently, the new wheat varieties have responded up to 180 kg N/ha with optima dose around 150 kg/ha. In the Indo-Gangetic plains, application of zinc @ 25kg/ha in rice-wheat system was found to increase the yield substantially. Recently, the use of sulphur has been found beneficial for enhancing the productivity as well as the grain protein content of wheat. Response to Mn (pockets in the Indo-Gangetic plains) and boron (eastern and far eastern region) has also been realized.
              </p>
            <h3>Nutrient management </h3>
              <p class='cat-content'>
                With intensive agriculture, deficiency of essential nutrients has also become wide spread. The work conducted under the All India Coordinated Research Project on Micronutrient in Crops and Soils, has shown wide spread deficiency of zinc in soils in India. At the national level, the deficiency level in micro nutrients is Zn: 46 %, B: 17 %, Mo: 12 %, Fe: 11 % and Cu: 5%. The deficiency of sulphur has also been reported across a wide range of soils (38%).The yield response to sulphur has been obtained in more than 40 crops including cereal, millets, oilseeds and pulses etc. 
              </p>
            </div>
          </div>
        </div>
        <div class="content-sidebar right">
      <div style='text-align:center;'>
        <div class="profile-userpic">
          <%= image_tag 'wheat.jpg' %>
        </div>
      </div>
      <div class="widget-1 first widget column3"> 
        <h3> Wheat</h3>
        <ul class="product_list_widget">
          <li id='overview' class="active">
            <a href="#" style='text-decoration:none;'> 
              <i class="glyphicon glyphicon-home"></i>
              Overview 
            </a>
          </li>
          <li id='grow' >
            <a href="#" style='text-decoration:none;'> 
              <i class="fa fa-pagelines"></i>
               Growing Zones  
            </a>
          </li>
          <li id='seed'>
              <%= link_to '<i class="fa fa-tree"></i> Seed Variety'.html_safe,'/Documents/seed_variety.pdf',target: '_blank' ,style: 'text-decoration:none;' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear-float"></div>
      </div>
  </div>
</div>
<style type="text/css">
 .category-head{
  text-align: left;
  margin-left: 16px;
 }
 .cat-content{
  font-size: 1.15em;
    text-align: justify;
 }
</style>
<script type="text/javascript">
$(document).ready(function(){
$('#wheat-grow').css('display','none')
});
$('#grow').click(function(){
  $('#wheat-grow').css('display','block')
  $('#wheat-show').css('display','none')
  $('#grow').addClass('active');
  $('#overview').removeClass('active');
});
$('#overview').click(function(){
  $('#wheat-grow').css('display','none')
  $('#wheat-show').css('display','block')
  $('#grow').removeClass('active');
  $('#overview').addClass('active');
});
</script>