<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" >
        <div class="article-header">
          <h2><%= t("forem.forum.new") %></h2>
        </div>
        <%= render "form" %>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>