<div class="content">
  <div class="wrapper">
    <div class="content-block">
      <div class="content-main" style='text-align: center;'>
        <div class='row'>
        <div class="col-md-12 col-centered text-center">
          <%= link_to image_tag("facebook.png", :border => 0), user_omniauth_authorize_path(:facebook) %>
          <br>
          <strong> or </strong>

          <h2>Sign In</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "control-label" %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'display: initial;' %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "control-label" %><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'display: initial;' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me, style: 'display: initial;' %>
                <%= f.label :remember_me, class: "control-label" %>
              </div>
            <% end -%>
            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-primary', style: 'display: initial;' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
        </div>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>