<div class="modal" id="sign-up-modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Sign Up </h4>
      </div>
      <div class="modal-body" style='height: 880px;'>
        <div class="col-md-8 col-centered" style='margin-left: 80px;'>
          <%= link_to image_tag("fb-logo.png", size: '280x50', :border => 0), main_app.user_omniauth_authorize_path(:facebook) %>
          <br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :name, class: "control-label" %><br/>
              <%= f.text_field :name, autofocus: true, class: 'form-control', style: 'width: 100%;' %>
            </div>

            <div class="form-group" style='text-align: left;'>
              <%= f.label :email, class: "control-label" %><br/>
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-group" style='text-align: left;'>
              <%= f.label :password, class: "control-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :password_confirmation, class: "control-label" %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :dob, 'Date of Birth', class: "control-label" %><br/>
              <%= f.text_field :dob, class: 'form-control', style: 'width: 100%;' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :mobile, class: "control-label" %><br/>
              <%= f.text_field :mobile, class: 'form-control', style: 'width: 100%;' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :address, class: "control-label" %><br/>
              <%= f.text_field :address, class: 'form-control', style: 'width: 100%;' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :country, class: "control-label" %><br/>
              <%= f.country_select :country, {prompt: '--Please select country--'}, {class: 'form-control', onchange: "pick_state(this,#{params[:locale].to_json.html_safe});"} %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :state, class: "control-label" %><br/>
              <%= f.select :state, options_for_select(['']), {prompt: '--Please select state--'}, {class: 'form-control'} %>
            </div>
            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>


        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .modal {
    left: 2%;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $('#user_dob').datepicker({
      format: 'dd-mm-yyyy',
      startDate: '+0d',
      todayHighlight: true,
      clearBtn: true,
      autoclose: true
    });
  });

  function pick_state(element) {
    var country = element.value;
    $.ajax({
      url: '/pages/populate_state',
      method: 'get',
      data: {country_id: country}
    }).done(function (data) {
      $('#user_state').html(data);
      $('#user_state').addClass('form-control');
    });
  }
</script>