<div class="modal" id="sign-in-modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Sign In </h4>
      </div>
      <div class="modal-body">
        <div class='row'>
        <div class="col-md-8 col-centered" style='margin-left: 80px;'>
          <%= link_to image_tag("facebook.png", :border => 0), main_app.user_omniauth_authorize_path(:facebook), style: 'margin-left: 8%;' %>
          <br>

          <h3 style='text-align:center;'>Or </h3>
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :email, class: "control-label" %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group" style='text-align: left;'>
              <%= f.label :password, class: "control-label" %><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group" style='text-align: left;'>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: "control-label" %>
              </div>
            <% end -%>
            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  /*.modal{
    left: 2%;
  }*/
</style>
