/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require custom
 *= require owl.carousel
 *= require owl.theme
 *= require weather-icons
 *= require buddypressc245
 *= require demo-settingsd7b7
 *= require desktopd7b7
 *= require dynamic-cssd7b7
 *= require fontsd7b7
 *= require jquery.dragscrolld7b7
 *= require lightboxd7b7
 *= require main-stylesheetd7b7
 *= require resetd7b7
 *= require shortcoded7b7
 *= require styled7b7
 *= require bootstrap-datepicker3
 *= require 'forem/base'
 *= require forem-bootstrap
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'flipclock';

@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import url('//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic');

@import url('//fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('//fonts.googleapis.com/css?family=Kite+One');
@import url('//fonts.googleapis.com/css?family=Exo:400,600');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script');
@import url('//fonts.googleapis.com/css?family=Text+Me+One');

@import url('//fonts.googleapis.com/css?family=Kelly+Slab');
@import url('//fonts.googleapis.com/css?family=Patua+One');
@import url('//fonts.googleapis.com/css?family=Skranji:400,700');
@import url('//fonts.googleapis.com/css?family=Peralta');
@import url('//fonts.googleapis.com/css?family=Berkshire+Swash');

@import url('//fonts.googleapis.com/css?family=Rokkitt:400,700');
@import url('//fonts.googleapis.com/css?family=Share:400,700');
@import url('//fonts.googleapis.com/css?family=Walter+Turncoat');

@import url('//fonts.googleapis.com/css?family=Ropa+Sans:400,400italic');
@import url('//fonts.googleapis.com/css?family=Coustard');




.col-centered {
  float: none;
  margin: 0 auto;
}
