




/* Main menu color */
.main-menu .menu-cart > div > strong,
.main-menu .menu-cart:hover > a,
.main-menu > div > ul > li:hover > a,
.main-menu > div > ul > li:hover,
.main-menu > div > ul > li ul.sub-menu, .main-menu ul.sub-menu li {
	background-color: #3C1805;
}
.main-menu .menu-cart > a,
.main-menu > div > ul > li > a {
	color: #3C1805;
}

/* Article Links Color */
.main-block h1 a,
.main-block h2 a,
.main-block h3 a,
.main-block h4 a,
.main-block h5 a,
.main-block h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #E6DFBA;
}

/* Very Top line color */
.very-top {
	background-color: #4C5C12;
}

