


/* Main Menu Font */
.main-menu ul li > a {
	font-family: "Ropa Sans", serif;
	font-size: 19px;
}

/* Titles Font */
.main-block.big-error strong,
.woocommerce-tabs .tabs li,
.summary .amount,
.price-block .price,
.widget-event .event-wdget-date,
.accordion > div > a,
.menu-cart
.subtotal .subtotal-amount,
.menu-cart > div i,
.menu-cart strong,
h1, h2, h3, h4, h5, h6,
.content .main-title span,
.coupon .coupon-content b,
.widget ul li a,
.user-nick a,
.user-nick i,
#wp-calendar caption,
.widget-product .product-content span.price,
.price-range-content #amount {
	font-family: "Coustard", sans-serif;
}

