
body {
	width: 100%;
}

body, div, p, a, table, td {
	-webkit-text-size-adjust: none;
	letter-spacing: .015em;
}

.wrapper {
	width: auto;
	margin: 0px 20px;
}

.content .main-content {
	display: block;
	width: 100%;
}

.content-block .content-main.alternate:after,
.content-block .content-main.alternate:before,
.content-block .content-main.full-width.alternate:after,
.content-block .content-main.full-width.alternate:before {
	display: none!important;
}

.content-block .content-main.full-width.alternate,
.content-block .content-main.alternate {
	margin: 0px!important;
	width: auto;
	background: transparent;
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.3), 0px 2px 0px 0px #b3aa8e, 0px 0px 0px 4px #371407, 0px 2px 0px 4px #371407, 0px 0px 0px 5px #683d21, 0px 4px 0px 5px #683d21;
	background: #f9f2d9 url(../assets/themes/content-background.jpg) repeat center top;
	background-size: 200px 107px;
}

.main-slider .wrapper {
	margin:0px;
}

.main-slider {
	height: auto;
}

.main-slider .wrapper img {
	max-width: 100%;
}

.main-slider {
	overflow: hidden;
	width: 100%;
}

body {
	background-size: 300px 300px;
}

.header-featured {
	text-align: center;
    display: block;
    padding-top: 0px !important;
    width: 100% !important;
    padding-left: 0px !important;
}

.coupon .coupon-content {
	padding: 20px;
}

.coupon .coupon-content b {
	font-size: 20px;
}

.coupon .background-image img {
	height: 100%;
	width: auto;
}

.content-main .main-title h2:before,
.content .main-title h2:before,
.content-main .main-title h2:after,
.content .main-title h2:after {
	display: none;
}

.pin-red {
	background: url(../assets/themes/pin-red@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-blue {
	background: url(../assets/themes/pin-blue@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-green {
	background: url(../assets/themes/pin-green@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-orange {
	background: url(../assets/themes/pin-orange@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-violet {
	background: url(../assets/themes/pin-violet@2x.png) no-repeat center;
	background-size: 20px 33px;
}

#map_canvas {
	width: 100%!important;
}

.article-icons,
.content-main .article-icons {
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 0;
}

.article-icons .article-icon,
.content-main .article-icons .article-icon {
	font-size: 0;
}

.main-menu ul li > a {
	font-size: 16px;
	padding: 20px 15px 19px 15px;
}

.photo-gallery-grid {

}

.photo-gallery-grid .main-thumb-gallery:nth-child(3n+1) {
	margin-left: 0px;
}

.photo-gallery-grid .main-thumb-gallery {
	margin-right: 0px!important;
	margin-left: 2%;
	width: 30%;
	width:23.404255319148934%;*width:23.351063829787233%;
}

.boxed.active {
	width: 100%;
	background: transparent;
}


.main-menu {
	background-image: url(../assets/themes/texture-overlay.png);
	background-size: 75px 75px;
	background-color: #dcd4ad;
	background-repeat: repeat;
	height: auto;
}

.main-menu ul {
	height: auto;
}

.main-menu > .wrapper > ul li {
	float: none;
	display: none;
	text-align: center;
	height: auto;
}

.main-menu ul li a > span {
	padding: 0px!important;
}

.main-menu ul li ul.sub-menu {
	float: none!important;
	position: relative!important;
	left: auto!important;
	top: auto!important;
	margin-left: 0px!important;
	width: 100%!important;
	display: block;
}

.main-slider {
	height: auto;
}

.main-slider .wrapper {
	margin: 0px;
	width: 100%;
}

.main-slider .wrapper img {
	max-width: 100%;
}

.main-menu .menu-cart {
	display: block;
	position: fixed;
	top: 50px;
	right: 0px;
}

.main-menu .menu-cart > a {
	color: #e6e1c9!important;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
	background-color: #3c1805;
}

.main-menu .wrapper {
	width: 100%;
	margin: 0px;
}

.main-menu ul.openmenu li {
	display: block;
}

.main-menu ul li.mobile-menu {
	display: block!important;
	font-size: 0;
}

.very-top ul li {
	font-size: 11px;
}

.wrapper > .paragraph-row {
	display: block;
}

.wrapper > .paragraph-row > div {
	display: block;
	float: none;
	margin-left: 0px;
	width: 100%;
}

.price-color,
.very-top {
	background-size: 75px 75px;
}

.paragraph-row.price-grid .column3,
.grid-block .paragraph-row .column3 {
	width: 48.93617021276595%;
}

.paragraph-row.price-grid .column3:nth-child(2n+1),
.grid-block .paragraph-row .column3:nth-child(2n+1) {
	margin-left: 0px;
}

.grid-block .paragraph-row .product .product-content h3 {
	font-size: 18px;
}

.paragraph-row .product .product-header img {
	width: 100%;
}

.coupon .background-image {
	width: 173px;
}

.coupon .coupon-overlay {
	width: 100%;
}

.footer .paragraph-row {
	display: block;
}

.footer .paragraph-row > div {
	display: block;
	float: none;
	width: 100%;
	margin-left: 0px;
	position: relative;
	clear: both;
	background: url(../assets/themes/split-1.png) repeat-x center bottom;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.footer .paragraph-row > div:last-child {
	background: transparent!important;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer .paragraph-row > div:after {
	display: block;
	clear: both;
	content: '';
}

.triple-icons > div > div {
	display: block;
	text-align: center;
}

.triple-icons > div > div > span.icon-text {
	display: inline-block;
	margin-bottom: 20px;
	float: none;
}

.triple-icons > div > div > a, .triple-icons > div > div > p, .triple-icons > div > div > h3 {
	margin-left: 0px;
}

.content-main .event-header {
	width: 49%;
}

.content-main .main-event-content {
	margin-left: 51%;
}

.article-header img {
	max-width: 100%;
}

.content-main > .paragraph-row > .column3 {
	width:48.93617021276595%;*width:48.88297872340425%;
	margin-left: 2.127659574468085%;
}

.content-main > .paragraph-row > .column3:nth-child(2n+1) {
	margin-left: 0px!important;
}

.product > .images {
	width: 46%;
}

.product > .images .woocommerce-main-image img {
	width: 100%;
	height: auto;
}

.images .thumbnails a {
	width: 30%;
	margin-right: 3%;
}

.images .thumbnails a img {
	height: auto;
	width: 100%;
}

.full-width .paragraph-row .column6 {
	width: 100%;
	float: none;
	margin-left: 0px;
}

.photo-gallery-grid .main-thumb-gallery {
	width:31.914893617021278%;*width:31.861702127659576%;
}

.photo-gallery-grid .main-thumb-gallery:nth-child(3n+1) {
	margin-left: 0px;
}

.main-thumb-gallery .gallery-photos > a[href='#gal-prev'], .main-thumb-gallery .gallery-photos > a[href='#gal-next'] {
	display: none!important;
}

.main-thumb-gallery ul li img {
	width: 100%;
	height: auto;
}

.main-thumb-gallery .gallery-photos ul:before {
	width: 100%;
	height: 100%;
	display: none;
}

.main-thumb-gallery ul {
	height: auto;
}

.main-thumb-gallery ul li.active {
	position: relative!important;
	text-align: center;
}

.main-thumb-gallery h3 {
	font-size: 16px!important;
}

.column4.background-block {
	display: block;
	width: 100%;
	margin-left: 0px!important;
	float: none;
}

.error-glass {
	background: url(../assets/themes/error-glass@2x.png) no-repeat center;
	background-size: 430px 137px;
}

.shortcode-block .split-line-1 {
	background: url(../assets/themes/split-1@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.footer .widget-article,
.footer .widget > h3,
.main-block .shortcode-block,
.content .menu-card-item,
.menu-card-category,
.main-block .event-block,
.main-block .article-block,
.article-icons,
.grid-block > div.paragraph-row,
.content .main-title {
	background: url(../assets/themes/split-1@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.coupon .background-image img {
	position: absolute;
}

.content-main .menu-card-item,
.content-main .menu-card-category,
.no-comments-banner,
.about-author-block,
.content-main .article-block,
#comments .commment-content,
.split-line-1,
.content-main .event-block,
.content-main .article-icons,
.content .content-main .main-title {
	background: url(../assets/themes/split-2@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.woocommerce-tabs li.comment,
.woocommerce-tabs h2,
.gallery-preview ul {
	background: url(../assets/themes/split-4@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.accordion > div > div:before {
	background: url(../assets/themes/split-4@2x.png) repeat-x center top;
	background-size: 4px 4px;
}

.content:before {
	background: url(../assets/themes/menu-strips@2x.png) repeat-x center top;
	background-size: 8px 3px;
}

.paragraph-row.masonry {
	width: 102%;
}

.paragraph-row.masonry .column3 {
	margin-left: 0px!important;
	margin-right: 1.5%!important;
	margin-bottom: 20px!important;
	width: 48%!important;
}

.paragraph-row.masonry .column3 .product {
	margin-bottom: 0px;
}

.content-main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%!important;
}

.content-block .content-sidebar {
	width: 100%;
	float: none;
	clear: both;
	padding-top: 50px;
}

.widget-banner {
	text-align: center;
}



