
body {
	width: 100%;
}

body, div, p, a, table, td {
	-webkit-text-size-adjust: none;
	letter-spacing: .015em;
}

.wrapper {
	width: auto;
	margin: 0px 20px;
}

.content .main-content {
	display: block;
	width: 100%;
}

.content-block .content-main.alternate:after,
.content-block .content-main.alternate:before,
.content-block .content-main.full-width.alternate:after,
.content-block .content-main.full-width.alternate:before {
	display: none!important;
}

.content-block .content-main.full-width.alternate,
.content-block .content-main.alternate {
	margin: 0px!important;
	width: auto;
	background: transparent;
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.3), 0px 2px 0px 0px #b3aa8e, 0px 0px 0px 4px #371407, 0px 2px 0px 4px #371407, 0px 0px 0px 5px #683d21, 0px 4px 0px 5px #683d21;
	background: #f9f2d9 url(../assets/themes/content-background.jpg) repeat center top;
	background-size: 200px 107px;
}

.main-slider .wrapper {
	margin: 0px;
}

.main-slider {
	height: auto;
}

.main-slider .wrapper img {
	max-width: 100%;
}

.main-slider {
	overflow: hidden;
	width: 100%;
}

body {
	background-size: 300px 300px;
}

.header-featured {
    display: none;
}

.coupon .coupon-content {
	padding: 20px;
}

.coupon .coupon-content b {
	font-size: 20px;
}

.coupon .background-image img {
	height: 100%;
	width: auto;
}

.content-main .main-title h2:before,
.content .main-title h2:before,
.content-main .main-title h2:after,
.content .main-title h2:after {
	display: none;
}

.pin-red {
	background: url(../assets/themes/pin-red@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-blue {
	background: url(../assets/themes/pin-blue@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-green {
	background: url(../assets/themes/pin-green@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-orange {
	background: url(../assets/themes/pin-orange@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-violet {
	background: url(../assets/themes/pin-violet@2x.png) no-repeat center;
	background-size: 20px 33px;
}

#map_canvas {
	width: 100%!important;
}

.article-icons,
.content-main .article-icons {
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 0;
}

.article-icons .article-icon,
.content-main .article-icons .article-icon {
	font-size: 0;
}

.main-menu ul li > a {
	font-size: 16px;
	padding: 20px 15px 19px 15px;
}

.photo-gallery-grid {

}

.photo-gallery-grid .main-thumb-gallery:nth-child(4n+1) {
	margin-left: 0px;
}

.photo-gallery-grid .main-thumb-gallery {
	margin-right: 0px;
	margin-left: 2.127659574468085%;
	width: 30%;
	width:23.404255319148934%;*width:23.351063829787233%;
}

.boxed.active {
	width: 100%;
	background: transparent;
}

.content-main .event-header {
	width: 37%;
}

.price-color,
.very-top {
	background-size: 75px 75px;
}

.article-header img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product > .images {
	width: 44%;
}

.product > .summary {
	width: 55%;
}

.error-glass {
	background: url(../assets/themes/error-glass@2x.png) no-repeat center;
	background-size: 430px 137px;
}

.footer .widget-article,
.footer .widget > h3,
.main-block .shortcode-block,
.content .menu-card-item,
.menu-card-category,
.main-block .event-block,
.main-block .article-block,
.article-icons,
.grid-block > div.paragraph-row,
.content .main-title {
	background: url(../assets/themes/split-1@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.coupon .background-image img {
	position: absolute;
}

.content-main .menu-card-item,
.content-main .menu-card-category,
.no-comments-banner,
.about-author-block,
.content-main .article-block,
#comments .commment-content,
.split-line-1,
.content-main .event-block,
.content-main .article-icons,
.content .content-main .main-title {
	background: url(../assets/themes/split-2@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.woocommerce-tabs li.comment,
.woocommerce-tabs h2,
.gallery-preview ul {
	background: url(../assets/themes/split-4@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.accordion > div > div:before {
	background: url(../assets/themes/split-4@2x.png) repeat-x center top;
	background-size: 4px 4px;
}

.content:before {
	background: url(../assets/themes/menu-strips@2x.png) repeat-x center top;
	background-size: 8px 3px;
}

.paragraph-row.masonry {
	width: 102%;
}

.paragraph-row.masonry .column3 {
	margin-left: 0px!important;
	margin-right: 1.5%!important;
	margin-bottom: 20px!important;
}

.paragraph-row.masonry .column3 .product {
	margin-bottom: 0px;
}

.content-main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%!important;
}

.main-menu > div > ul > li > a {
	font-size: 130%!important;
}

.content-block .content-main.alternate {
	width: 72%!important;
}

.content-block .content-sidebar {
	width: 26%;
}


