

body {
	width: 100%;
}

body, div, p, a, table, td {
	-webkit-text-size-adjust: none;
	letter-spacing: .015em;
}

.wrapper {
	width: auto;
	margin: 0px 20px;
}

.content .main-content {
	display: block;
	width: 100%;
}

.demo-settings {
	display: none!important;
}

.main-slider {
	overflow: hidden;
	width: 100%;
}

.footer .paragraph-row {
	display: block;
}

.footer .paragraph-row > div {
	display: block;
	float: none;
	width: 100%;
	margin-left: 0px;
	position: relative;
	clear: both;
	background: url(../assets/themes/split-1.png) repeat-x center bottom;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.footer .paragraph-row > div:last-child {
	background: transparent !important;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer .paragraph-row > div:after {
	display: block;
	clear: both;
	content: '';
}

.very-top {
	text-align: center;
}

.very-top ul.right {
	float: none;
}

.content .main-title {
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.content .main-title h2 {
	font-size: 23px;
}

.content .main-title span {
	font-size: 12px;
}

.triple-icons > div > div {
	display: block;
	text-align: center;
}

.triple-icons > div > div > span.icon-text {
	display: inline-block;
	margin-bottom: 20px;
	float: none;
}

.triple-icons > div > div > a, .triple-icons > div > div > p, .triple-icons > div > div > h3 {
	margin-left: 0px;
}

.content .main-block {
	margin-bottom: 30px;
}

.wrapper > .paragraph-row {
	display: block;
}

.wrapper > .paragraph-row > div {
	display: block;
	float: none;
	margin-left: 0px;
	width: 100%;
}

.coupon .coupon-content {
	padding: 20px;
}

.coupon .coupon-content b {
	font-size: 20px;
}

.coupon .background-image img {
	height: 100%;
	width: auto;
}

.header {
	background-size: auto;
	height: 233px;
}

.coupon .background-image {
	text-align: right;
}

.header-featured {
	 text-align: center;
    display: block;
    padding-top: 0px !important;
    width: 100% !important;
    padding-left: 0px !important;display: none;
}

.header .logo-header {
	float: none;
	text-align: center;
	height: auto;
}

.header .logo-image {
	margin-top: 30px;
}

.header .header-info {
	float: none;
	margin-left: 0px;
	border-left: 0px;
	padding: 0px;
	margin-top: 35px;
	text-align: center;
	font-size: 0.88em;
}

.content .main-title h2:before {
	display: none;
}

.content .main-title h2:after {
	display: none;
}

body {
	background-size: 300px 300px;
}

.price-color,
.very-top {
	background-size: 75px 75px;
}

.paragraph-row.price-grid .column3,
.grid-block .paragraph-row .column3 {
	width: 48.93617021276595%;
}

.paragraph-row.price-grid .column3:nth-child(2n+1),
.grid-block .paragraph-row .column3:nth-child(2n+1) {
	margin-left: 0px;
}

.grid-block .paragraph-row .product .product-content h3 {
	font-size: 18px;
}

.main-menu {
	background-image: url(../assets/themes/texture-overlay.png);
	background-size: 75px 75px;
	background-color: #dcd4ad;
	background-repeat: repeat;
	height: auto;
}

.main-menu ul {
	height: auto;
}

.main-menu > .wrapper > ul li {
	float: none;
	display: none;
	text-align: center;
	height: auto;
}

.main-menu ul li a > span {
	padding: 0px!important;
}

.main-menu ul li ul.sub-menu {
	float: none!important;
	position: relative!important;
	left: auto!important;
	top: auto!important;
	margin-left: 0px!important;
	width: 100%!important;
	display: block;
}

.main-slider {
	height: auto;
}

.main-slider .wrapper {
	margin: 0px;
	width: 100%;
}

.main-slider .wrapper img {
	max-width: 100%;
}

.main-menu .menu-cart {
	display: block;
	position: fixed;
	top: 50px;
	right: 0px;
}

.main-menu .menu-cart > a {
	color: #e6e1c9!important;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
	background-color: #3c1805;
}

.main-menu .wrapper {
	width: 100%;
	margin: 0px;
}

.main-menu ul.openmenu li {
	display: block;
}

.main-menu ul li.mobile-menu {
	display: block!important;
	font-size: 0;
}

.content-block .content-main.alternate:after,
.content-block .content-main.alternate:before,
.content-block .content-main.full-width.alternate:after,
.content-block .content-main.full-width.alternate:before {
	display: none!important;
}

.content-block .content-main.full-width.alternate,
.content-block .content-main.alternate {
	margin: 0px!important;
	width: auto;
	background: transparent;
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.3), 0px 2px 0px 0px #b3aa8e, 0px 0px 0px 4px #371407, 0px 2px 0px 4px #371407, 0px 0px 0px 5px #683d21, 0px 4px 0px 5px #683d21;
	background: #f9f2d9 url(../assets/themes/content-background.jpg) repeat center top;
	background-size: 200px 107px;
}

.column4.background-block {
	display: block;
	width: 100%;
	margin-left: 0px!important;
	float: none;
}

#map_canvas {
	max-width: 100%;
}

.full-width .paragraph-row .column6 {
	width: 100%;
	float: none;
	margin-left: 0px;
}

.content-main .main-title h2:before {
	background: url(../assets/themes/main-title-b-left@2x.png) no-repeat center center;
	background-size: 100% 100%;
}

.content-main .main-title h2:after {
	background: url(../assets/themes/main-title-b-right@2x.png) no-repeat center center;
	background-size: 100% 100%;
}

.writecomment label {
	display: none;
}

.content {
	padding: 30px 0px 10px 0px;
}

.paragraph-row .product .product-header img {
	width: 100%;
}

.content-main .main-event-content,
.content-main .event-header {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	margin-left: 0px;
}

.content-main .event-header {
	margin-bottom: 25px;
}

#map_canvas {
	width: 100%!important;
}

.article-icons,
.content-main .article-icons {
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 0;
}

.article-icons .article-icon,
.content-main .article-icons .article-icon {
	font-size: 0;
}

.content-main .article-block .article-content h2 {
	font-size: 19px;
}

.content-main .article-block .article-photo img {
	width: 100px;
}

.content-main .article-block .article-content {
	margin-left: 120px;
}

h2 {
	font-size: 19px;
}

.main-block.quote-block > div.main {
	margin-right: 48%;
}

.content-main .pagination .page-numbers {
	font-size: 11px;
}

.content-main .pagination .page-numbers {
	margin: 0px 1px 10px 0px;
}

.content-main .pagination .page-numbers.next,
.content-main .pagination .page-numbers.prev {
	display: none;
}

.article-header img {
	max-width: 100%;
}

.social-icon-block a {
	margin-bottom: 9px;
}

.social-icon-block a span {
	font-size: 9px;
}

.social-icon-block a i {
	font-size: 9px;
}

.gallery-preview {
	width: 100%;
}

.product > .summary,
.product > .images {
	width: 100%!important;
	float: none!important;
}

.product > .images .woocommerce-main-image img {
	width: 100%;
	height: auto;
}

.images .thumbnails a {
	width: 30%;
	margin-right: 3%;
}

.images .thumbnails a img {
	height: auto;
	width: 100%;
}

.woocommerce-tabs #comments > div > h2 {
	padding-right: 80px;
	font-size: 17px;
}

.content-main .product .product-content p {
	display: none;
}

.main-thumb-gallery .gallery-photos > a[href='#gal-prev'], .main-thumb-gallery .gallery-photos > a[href='#gal-next'] {
	display: none!important;
}

.photo-gallery-grid .main-thumb-gallery {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.main-thumb-gallery ul li img {
	width: 100%;
	height: auto;
}

.main-thumb-gallery .gallery-photos ul:before {
	width: 100%;
	height: 100%;
	display: none;
}

.main-thumb-gallery ul {
	height: auto;
}

.main-thumb-gallery ul li.active {
	position: relative!important;
	text-align: center;
}

.main-thumb-gallery h3 {
	font-size: 16px!important;
}

.content-main .product .product-content h3 {
	font-size: 14px;
}


.pin-red {
	background: url(../assets/themes/pin-red@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-blue {
	background: url(../assets/themes/pin-blue@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-green {
	background: url(../assets/themes/pin-green@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-orange {
	background: url(../assets/themes/pin-orange@2x.png) no-repeat center;
	background-size: 20px 33px;
}

.pin-violet {
	background: url(../assets/themes/pin-violet@2x.png) no-repeat center;
	background-size: 20px 33px;
}

h3 {
	font-size: 17px;
}

.about-author-block .about-author-content .soc-links a {
	font-size: 15px;
	margin-left: 3px;
}

.content .wrapper {
	margin: 0px;
}

.content-block .content-main.alternate {
	border-radius: 0px;
	padding: 20px;
}

.writecomment {
	width: 100%;
}

.content-main textarea, .content-main input[type=text] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.no-comments-banner img {
	max-width: 100%;
}

.about-author-block .about-author-photo {
	display: none;
}

.about-author-block .about-author-content {
	margin-left: 0px;
}

.paragraph-row {
	display: block;
}

.paragraph-row > div {
	display: block;
	width: 100%!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	float: none!important;
	margin-bottom: 20px;
}

.main-block.quote-block {
	position: relative;
	padding-bottom: 90px;
}

.main-block.quote-block > div .custom-button {
	text-align: center;
	position: absolute;
	bottom: 30px;
}

.main-block.quote-block > div {
	display: block;
	float: none;
	margin: 0px;
	width: 100%;
}

.content > .wrapper > .main-block {
	margin-left: 15px;
	margin-right: 15px;
}

.content > .wrapper > .paragraph-row {
	margin-left: 15px;
	margin-right: 15px;
}

.coupon .coupon-content {
	margin-right: 0px!important;
}

.coupon .background-image {
	display: none!important;
}

.comment-block .user-avatar {
	display: none!important;
}

.comment-block .comment-text {
	margin-left: 0px!important;
}

#comments li {
	margin-left: 0px!important;
	padding-left: 0px!important
}

.commment-content {
	margin-left: 0px!important;
}

.commment-content .user-nick {
	font-size: 16px!important;
}

.commment-content .time-stamp {
	font-size: 10px!important;
}

.commment-content .this-author {
	font-size: 10px!important;
}

.footer-copyright .right {
	float: none;
}

.product > .summary,
.product > .images {
	display: block;
	width: 100%;
	float: none;
}

.comment-text .meta {
	font-size: 0;
}

.comment-text .meta time,
.comment-text .meta strong {
	font-size: 12px;
	display: block;
}

#reviews .comment .star-rating {
	top: 0px;
	right: 0px;
}

.main-block.big-error {
	padding: 20px 0px!important;
}

.main-block.big-error h2 {
	font-size: 47px;
	line-height: 100%;
}

.main-block.big-error strong {
	font-size: 16px;
	line-height: 100%;
}

.main-block.big-error > span {
	width: 90%;
}

.main-block.big-error img {
	width: 100%;
	margin-bottom: 20px;
}

.wp-caption img {
	width: 93%;
}

.error-glass {
	background: url(../assets/themes/error-glass@2x.png) no-repeat center;
	background-size: 430px 137px;
	max-width: 100%;
}

.footer .widget-article,
.footer .widget > h3,
.main-block .shortcode-block,
.content .menu-card-item,
.menu-card-category,
.main-block .event-block,
.main-block .article-block,
.article-icons,
.grid-block > div.paragraph-row,
.content .main-title {
	background: url(../assets/themes/split-1@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.content-main .menu-card-item,
.content-main .menu-card-category,
.no-comments-banner,
.about-author-block,
.content-main .article-block,
#comments .commment-content,
.split-line-1,
.content-main .event-block,
.content-main .article-icons,
.content .content-main .main-title {
	background: url(../assets/themes/split-2@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.woocommerce-tabs li.comment,
.woocommerce-tabs h2,
.gallery-preview ul {
	background: url(../assets/themes/split-4@2x.png) repeat-x center bottom;
	background-size: 4px 4px;
}

.accordion > div > div:before {
	background: url(../assets/themes/split-4@2x.png) repeat-x center top;
	background-size: 4px 4px;
}

.content:before {
	background: url(../assets/themes/menu-strips@2x.png) repeat-x center top;
	background-size: 8px 3px;
}

.content-main > .paragraph-row.masonry {
	height: auto!important;
}

.content-main > .paragraph-row.masonry > .column3 {
	left: auto!important;
	top: auto!important;
	position: relative!important;
}

#buddypress div#item-header img.avatar {
	width: 50px;
	position: absolute;
}

#buddypress div#item-header #item-header-content h2,
#buddypress #item-header-content span.activity {
	margin-left: 60px;
	display: block;
}

.very-top ul.left {
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(255,255,255,0.3);
}

.very-top ul.left li {
	margin: 0px 5px;
	font-size: 11px;
}

.very-top ul.left li a {
	padding: 5px 0px;
}

.very-top ul.left li:before {
	display: none;
}

.content-block .content-main,
.content-block .content-main.alternate {
	width: 100%!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* START Make the cart table responsive */
/* http://css-tricks.com/responsive-data-tables/ */

/* Force table to not be like tables anymore */
.woocommerce-page table.shop_table, 
.woocommerce-page table.shop_table thead, 
.woocommerce-page table.shop_table tbody, 
.woocommerce-page table.shop_table th, 
.woocommerce-page table.shop_table td, 
.woocommerce-page table.shop_table tr { 
	display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
.woocommerce-page table.shop_table thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.woocommerce-page table.shop_table tr { 
	/*border: 1px solid #d2d3d3; */
}

.woocommerce-page table.shop_table td { 
	/* Behave  like a "row" */
	border: 1px solid #d2d3d3; 
	position: relative;
	padding-left: 30% !important; 
}

.woocommerce-page table.shop_table {
	border: none;
}

.woocommerce-page table.shop_table td.product-spacer {
	border-color: #FFF;
	height: 10px;
}

.woocommerce-page table.shop_table td:before { 
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
}

/*
Label the data
*/
.woocommerce-page table.shop_table td:before {
	text-align: left;
	font-weight: bold;
	font-size: 11px;
}

.woocommerce-page table.shop_table td.product-remove:before {
	content: "DELETE";
}

.woocommerce-page table.shop_table td.product-thumbnail:before {
	content: "IMAGE";
}

.woocommerce-page table.shop_table td.product-name:before {
	content: "PRODUCT";
}

.woocommerce-page table.shop_table td.product-price:before {
	content: "PRICE";
}

.woocommerce-page table.shop_table td.product-quantity:before {
	content: "QUANTITY";
}

.woocommerce-page table.shop_table td.product-subtotal:before {
	content: "SUBTOTAL";
}

.woocommerce-page table.shop_table td.product-total:before {
	content: "TOTAL";
}

.woocommerce .quantity, 
.woocommerce #content .quantity, 
.woocommerce-page .quantity, 
.woocommerce-page #content .quantity {
	margin: 0;
}

.woocommerce-page table.cart td.actions, 
.woocommerce-page #content table.cart td.actions {
	text-align: left;
	border:0;
	padding-left: 6px !important;
}

.woocommerce-page table.cart td.actions .button.alt, 
.woocommerce-page #content table.cart td.actions .button.alt {
	float: left;
	margin-top: 10px;
}

.woocommerce-page table.cart td.actions div, 
.woocommerce-page #content table.cart td.actions div,
.woocommerce-page table.cart td.actions input, 
.woocommerce-page #content table.cart td.actions input {
	margin-bottom: 10px;
}

.woocommerce-page .cart-collaterals .cart_totals {
	float: left;
	width: 100%;
	text-align: left;
}

.woocommerce-page .cart-collaterals .cart_totals th, 
.woocommerce-page .cart-collaterals .cart_totals td {
	border:0 !important;
}

.woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
.woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
.woocommerce-page .cart-collaterals .cart_totals table tr.total td {
	padding-left: 6px !important;
}

.woocommerce-page table.shop_table tr.cart-subtotal td,
.woocommerce-page table.shop_table tr.shipping td,
.woocommerce-page table.shop_table tr.total td,
.woocommerce-page table.shop_table.order_details tfoot th,
.woocommerce-page table.shop_table.order_details tfoot td {
	padding-left: 6px !important;
	border:0 !important;
}

.woocommerce-page table.shop_table tbody {
	padding-top: 10px;
}

.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2,
.woocommerce form .form-row-first, 
.woocommerce form .form-row-last, 
.woocommerce-page form .form-row-first, 
.woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
}

.woocommerce .order_details ul, 
.woocommerce-page .order_details ul,
.woocommerce .order_details, 
.woocommerce-page .order_details {
	padding:0;
}

.woocommerce .order_details li, 
.woocommerce-page .order_details li {
	clear: left;
	margin-bottom: 10px;
	border:0;
}

/* END Make the cart table responsive */

.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator,
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: none!important;
	width: 100%!important;
	text-align: left!important;
}

.woocommerce-page table.shop_table tr {
	background: #faf9f3!important;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2)!important;
	border-radius: 2px!important;
	border: 0px!important;
	margin-bottom: 15px;
}

.woocommerce-page table.shop_table tr td {
	border: 0px!important;
	border-bottom: 1px solid #F5EBE4!important;
	text-align: right;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	background: transparent !important;
	box-shadow: none!important;
	border: 0px!important;
}

.woocommerce-page table.cart td.actions {
	text-align: center;
}

.woocommerce table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions input {
	font-size: 8px!important;
	float: none!important;
	display: inline-block!important;
}

.woocommerce table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
	float: none!important;
}

.woocommerce-page .widget_shopping_cart_content a.button {
	width: 37%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: none!important;
	width: 100%!important;
}

#buddypress ul.item-list li img.avatar {
	max-width: 50px;
}

body.activity-permalink #buddypress div.activity-comments,
body.activity-permalink #buddypress .activity-list li .activity-content {
	margin-left: 70px;
}

body.activity-permalink #buddypress div.activity-comments > ul {
	padding: 0px;
}

#buddypress div.activity-meta a {
	margin-bottom: 5px!important;
}

.boxed.active {
	width: 100%;
	background: transparent;
}



.content-main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%!important;
}

.content-block .content-sidebar {
	width: 90%;
	float: none;
	clear: both;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.widget-banner {
	text-align: center;
}


.content-main textarea, .content-main input[type=text], .content-main input[type=password] {
	width: 98%;
}


