

.paragraph-row {
	display: block;
	clear: both;
	position: relative;
}

.paragraph-row:after {
	display: block;
	clear: both;
	content: '';
}

.paragraph-row .column12{width:100%;*width:99.94680851063829%;}
.paragraph-row .column11{width:91.48936170212765%;*width:91.43617021276594%;}
.paragraph-row .column10{width:82.97872340425532%;*width:82.92553191489361%;}
.paragraph-row .column9{width:74.46808510638297%;*width:74.41489361702126%;}
.paragraph-row .column8{width:65.95744680851064%;*width:65.90425531914893%;}
.paragraph-row .column7{width:57.44680851063829%;*width:57.39361702127659%;}
.paragraph-row .column6{width:48.93617021276595%;*width:48.88297872340425%;}
.paragraph-row .column5{width:40.42553191489362%;*width:40.37234042553192%;}
.paragraph-row .column4{width:31.914893617021278%;*width:31.861702127659576%;}
.paragraph-row .column3{width:23.404255319148934%;*width:23.351063829787233%;}
.paragraph-row .column2{width:14.893617021276595%;*width:14.840425531914894%;}
.paragraph-row .column1{width:6.382978723404255%;*width:6.329787234042553%;}

.paragraph-row > div {
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paragraph-row > div:first-child {
	margin-left: 0px;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h2 {
	font-size: 24px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h3 {
	font-size: 20px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h4 {
	font-size: 17px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h5 {
	font-size: 15px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h6 {
	font-size: 13px;
	font-weight: normal;
	font-family: 'Coustard', serif;
	margin-bottom: 15px;
	color: #e6dfba;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	line-height: 110%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	position: relative;
	z-index: 1;
	line-height: 115%;
	color: #e6dfba;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #fff;
}

p {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	margin-bottom: 15px;
}

a.custom-button {
	display: block;
	font-size: 15px;
	color: #fff!important;
	background-color: #4a9d3d;
	box-shadow: inset 0px 90px 80px -80px rgba(255,255,255,0.15), 0px 2px 0px rgba(0,0,0,0.2);
	padding: 13px 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 110%;
	font-weight: bold;
}

a.custom-button:hover {
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

a.custom-button:active {
	box-shadow: inset 0px 90px 80px -80px rgba(0,0,0,0.15), 0px 2px 0px rgba(0,0,0,0.2);
}

a.custom-button i {
	font-style: normal;
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.button-link {
	display: inline-block;
	background: #3c1805;
	color: #f8eed2;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
}

.button-link:hover {
	background: #f8eed2!important;
	color: #3c1805!important;
	text-shadow: none;
}

.button-link .icon-text {
	display: inline-block;
	padding-left: 8px;
}

.button-link .icon-text.left {
	padding-left: 0px;
	padding-right: 8px;
}

a.button-link:hover {
	background: #f8eed2;
	color: #3c1805;
	text-shadow: none;
}

.button-link.invert {
	background: #f8eed2;
	color: #3c1805!important;
}

a.button-link.invert:hover {
	background: #3c1805!important;
	color: #f8eed2!important;
}

.content-main .coloralert {
	box-shadow: 0px 1px 0px #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.coloralert {
	display: block;
	text-align: left;
	padding: 10px 13px;
	font-size: 12px;
	margin-bottom: 15px;
	background: #68a117;
	color: #fff;
	font-weight: bold;
	position: relative;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.16);
	overflow: hidden;
	text-shadow: none;
}

.coloralert p {
	margin-bottom: 0px;
	display: block;
	padding-right: 50px;
	color: #fff;
	text-shadow: none!important;
}

.coloralert a {
	color: #fff;
}

.coloralert a[href="#close-alert"] {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	right: 12px;
	top: 12px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	line-height: 100%;
	text-shadow: none;
}

.coloralert a[href="#close-alert"]:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
	filter: alpha(opacity=10000);
	opacity: 100;
	color: #fff;
	text-shadow: none;
}

.split-line-1 {
	display: block;
	background: url(../assets/themes/split-2.png) repeat-x center bottom;
	height: 3px;
	width: 100%;
	margin-top: 23px;
	margin-bottom: 20px;
}

.split-line-2 {
	display: block;
	background: #dab896;
	height: 2px;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-top: 23px;
	margin-bottom: 20px;
}

.split-line-3 {
	display: block;
	background: url(../assets/themes/split-3.png) repeat top left;
	height: 10px;
	width: 100%;
	margin-top: 23px;
	margin-bottom: 20px;
}

.split-line-4 {
	display: block;
	background: transparent;
	border-top: 2px solid #dab896;
	border-bottom: 3px solid #dab896;
	height: 3px;
	width: 100%;
	margin-top: 23px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
}

blockquote {
	display: block;
	margin-bottom: 15px;
	line-height: 150%;
	border-left: 4px solid #4a2711;
	padding: 8px 0px 8px 24px;
	font-size: 1.1em;
	font-style: italic;
}

blockquote.style-2 {
	border-left: 0px;
	position: relative;
	padding-left: 43px;
}

blockquote.style-2:before {
	display: block;
	content: '“';
	position: absolute;
	top: 24px;
	left: -5px;
	font-size: 60px;
	font-style: normal;
	font-weight: bold;
}




.content-main .button-link {
	margin-bottom: 15px;
	margin-right: 5px;
	color: #fff;
	text-shadow: none!important;
	line-height: 100%;
}

.content-main .button-link span.icon-text {
	color: inherit;
	text-shadow: none!important;
}


.styled-button span.icon-text {
	display: inline-block;
	padding-right: 8px;
	color: inherit;
	text-shadow: none;
}

.content-main .button {
	margin-bottom: 0px!important;
}

.content-main .button,
.main-block .tabs .styled-button,
.main-block .accordion .styled-button,
.content-main .styled-button {
	box-shadow: inset 0px 90px 80px -80px rgba(255,255,255,0.15), 0px 1px 0px #fff;
	margin-bottom: 0px;
	margin-right: 5px;
}

.content-main .button:hover,
.main-block .tabs .styled-button:hover,
.main-block .accordion .styled-button:hover,
.content-main .styled-button:hover {
	box-shadow: 0px 1px 0px #fff;
}

.content-main .button:active,
.main-block .tabs .styled-button:active,
.main-block .accordion .styled-button:active,
.content-main .styled-button:active {
	box-shadow: inset 0px 90px 80px -80px rgba(0,0,0,0.15), 0px 1px 0px #fff;
}

.button,
.styled-button {
	display: inline-block;
	font-size: 12px;
	border: 0px;
	color: #fff!important;
	background-color: #4a9d3d;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2), inset 0px 90px 80px -80px rgba(255,255,255,0.15);
	padding: 9px 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 110%;
	font-weight: bold;
	cursor: pointer;
	text-shadow: none!important;
}

.button:hover,
.styled-button:hover {
	color: #fff;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

.button:active,
.styled-button:active {
	color: #fff;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2), inset 0px 90px 80px -80px rgba(0,0,0,0.15);
}

.highlight {
	display: inline-block;
	background: #3c1805;
	color: #fff!important;
	text-shadow: none!important;
	padding: 0px 6px;
	margin: 0px 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}


.social-icon {
	display: inline-block;
	color: #3c1805!important;
	margin-right: 15px;
	margin-bottom: 15px;
}

.social-icon:after {
	display: block;
	clear: both;
	content: '';
}

.social-icon:hover {
	color: #a56429!important;
}

.social-icon span.icon-text {
	display: inline-block;
	background: #3c1805;
	color: #faf9f3;
	width: 24px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	float: left;
	text-shadow: none!important;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.social-icon:hover span.icon-text {
	background: #a56429;
}

.social-icon b {
	color: inherit;
	display: block;
	margin-left: 32px;
	line-height: 130%;
	font-size: 14px;
	margin-top: -2px;
}

.social-icon i {
	color: inherit;
	display: block;
	margin-left: 32px;
	font-style: normal;
	font-size: 10px;
	line-height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.wp-caption {
	display: block;
	margin-bottom: 15px;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding-top: 10px;
}

.wp-caption img {
	max-width: 98%;
}

.wp-caption .wp-caption-text {
	display: block;
	padding: 15px;
	text-align: left;
}

.gallery-preview {
	display: block;
	margin-bottom: 15px;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	margin-right: auto;
	margin-left: auto;
	width: 605px;
	max-width: 100%;
	padding-top: 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.gallery-preview .gallery-preview-content {
	display: block;
	padding: 15px 20px 1px 20px;
}

.gallery-preview .gallery-preview-content span {
	color: #887264;
}

.gallery-preview .gallery-preview-content h3 {
	font-weight: normal!important;
	font-size: 18px;
	margin-bottom: 12px;
	display: block;
	margin-right: 140px;
}

.gallery-preview .gallery-preview-content h3 a {
	color: #3c1805;
}

.gallery-preview ul {
	display: block;
	margin: 20px 20px 0px 20px;
	padding-bottom: 20px;
	background: url(../assets/themes/split-4.png) repeat-x center bottom;
	font-size: 0;
	white-space: nowrap;
	margin-bottom: 0px!important;
	list-style: none!important;
	padding-left: 0px!important;
}

.gallery-preview ul li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
}

.gallery-preview ul li:last-child {
	padding-right: 0px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container {
	display: block;
	margin-bottom: 15px;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shortcode-block ol:not(#comments),
.content-main ol:not(#comments) {
	margin-bottom: 15px;
	list-style: decimal;
	padding-left: 20px;
	line-height: 150%;
}

.shortcode-block ol:not(#comments) li,
.content-main ol:not(#comments) li {
	padding-bottom: 8px;
	padding-left: 10px;
}

.shortcode-block ul,
.content-main ul {
	margin-bottom: 15px;
	list-style: disc;
	padding-left: 20px;
	line-height: 150%;
}

.shortcode-block ul li,
.content-main ul li {
	position: relative;
	padding-bottom: 8px;
	padding-left: 10px;
}

.gallery-preview {
	max-width: 100%;
}

.gallery-preview ul li {
	width: 18.51%;
	max-width: 105px;
	padding-right: 1.8%;
}

.gallery-preview ul li img {
	width: 100%!important;
	height: auto;
}

.shortcode-block ul li.styled,
.content-main ul li.styled {
	list-style: none;
}

.shortcode-block ul li.styled .icon-text,
.content-main ul li.styled .icon-text {
	display: block;
	position: absolute;
	left: -18px;
	top: 0px;
	cursor: default;
	width: 12px;
	text-align: center;
}






.tabs {
	display: block;
	margin-bottom: 15px;
}

.tabs:after {
	display: block;
	content: '';
	clear: both;
}

.tabs > ul {
	display: block;
	float: left;
	width: 30%;
	padding-left: 0px;
	list-style: none;
}

.tabs > ul > li {
	display: block;
	margin-bottom: 0px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
}

.tabs > ul > li.active {
	padding-right: 0px;
}

.tabs > ul > li a {
	display: block;
	padding: 10px 15px;
	color: #3c1805;
	background: rgba(255,255,255,0.5);
	border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
}

.tabs > ul > li a:hover {
	background: #faf9f3;
	color: #3c1805;
}

.tabs > ul > li.active a {
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	color: #3c1805;
}

.tabs > div {
	display: none;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	padding: 20px 20px 5px 20px;
	margin-left: 30%;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.tabs > div.active {
	display: block;
}

.accordion {
	display: block;
	margin-bottom: 15px;
}

.accordion > div {
	display: block;
	margin-bottom: 8px;
}

.accordion > div > a {
	display: block;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	padding: 15px 20px;
	color: #3c1805;
	font-size: 16px;
	font-weight: normal;
	position: relative;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-family: 'Coustard', serif;
}

.accordion > div.active > a {
	border-radius: 2px 2px 0px 0px;
}

.accordion > div > a:before {
	display: block;
	position: absolute;
	font-size: 20px;
	content: "+";
	font-weight: bold;
	top: 13px;
	right: 15px;
}

.accordion > div.active > a:before {
	content: "-";
}

.accordion > div.active > div {
	display: block;
	border-radius: 0px 0px 2px 2px;
}

.accordion > div > div {
	display: none;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	padding: 15px 20px 1px 20px;
	position: relative;
}

.accordion > div > div:before {
	display: block;
	content: '';
	width: 95%;
	height: 3px;
	position: absolute;
	top: 0px;
	left: 2.5%;
	background: url(../assets/themes/split-4.png) repeat-x center top;
}


.shortcode-block .button-link,
.shortcode-block .styled-button {
	margin-bottom: 15px;
	margin-right: 7px;
}

.main-block .tabs .styled-button,
.main-block .accordion > div > div .styled-button {
	margin-bottom: 15px;
}

.main-block .gallery-preview h1,
.main-block .gallery-preview h2,
.main-block .gallery-preview h3,
.main-block .gallery-preview h4,
.main-block .gallery-preview h5,
.main-block .gallery-preview h6,
.main-block .gallery-preview p,
.main-block .wp-caption p,
.main-block .tabs > div p,
.main-block .tabs > div h1,
.main-block .tabs > div h2,
.main-block .tabs > div h3,
.main-block .tabs > div h4,
.main-block .tabs > div h5,
.main-block .tabs > div h6,
.main-block .accordion p,
.main-block .accordion h1,
.main-block .accordion h2,
.main-block .accordion h3,
.main-block .accordion h4,
.main-block .accordion h5,
.main-block .accordion h6 {
	color: #3c1805;
	text-shadow: 0px 1px 0px #fff;
}

.main-block .tabs > ul > li a {
	font-weight: bold;
}

.main-block .tabs > ul > li a {
	background: rgba(255,255,255,0.2);
}

.main-block .tabs > ul > li a:hover {
	background: rgba(255,255,255,0.4);
}

.main-block .button-link:hover {
	color: #3c1805;
}

.main-block .gallery-preview,
.main-block .tabs > div,
.main-block .tabs > ul > li.active a,
.main-block .accordion > div > a,
.main-block .accordion > div > div {
	background: #f8f3e1;
}
.main-block .accordion > div > a:hover {
	color: #3c1805;
}

.main-block .social-icon {
	color: #e6dfba!important;
}

.main-block .social-icon:hover {
	color: #fff!important;
}

.main-block .social-icon:hover .icon-text {
	background: #fff!important;
}

.main-block .social-icon .icon-text {
	color: #3c1805;
	background: #e6dfba!important;
}

.main-block a {
	color: #f4ecbf;
}

.main-block a:hover {
	color: #fff;
}

.main-block blockquote {
	border-left: 4px solid #bcab89;
}

.main-block blockquote.style-2 {
	border-left: 0px;
}

.shortcode-block .split-line-1 {
	background: url(../assets/themes/split-1.png) repeat-x center bottom;
}

.shortcode-block .split-line-2 {
	background: rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.shortcode-block .split-line-3 {
	background: url(../assets/themes/split-5.png) repeat left top;
}

.shortcode-block .split-line-4 {
	border-top: 2px solid rgba(0,0,0,0.15);
	border-bottom: 3px solid rgba(0,0,0,0.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.08), inset 0px 1px 0px rgba(255,255,255,0.08);
}

.price-color {
	display: block;
	background-image: url(../assets/themes/texture-overlay.png);
	margin-bottom: 15px;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
}

.price-block {
	display: block;
	text-align: center;
	margin-bottom: 15px;
	background: #faf9f3;
	box-shadow: 0px 0px 0px 0px #f7efd5, 0px 1px 1px rgba(0,0,0,0.2);
	border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;
}

.price-block.highlighted {
	box-shadow: 0px 0px 0px 3px #1D1713;
	margin-top: -10px;
}

.price-block.highlighted .price {
	font-size: 60px;
	padding-bottom: 20px;
	padding-top: 4px;
}


.price-block h3 {
	display: block;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	color: #fff;
	font-size: 15px;
	padding: 12px 0px;
	font-weight: normal;
	background: rgba(0,0,0,0.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.15);
}

.price-block .price {
	display: block;
	font-size: 49px;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2)!important;
	font-family: 'Coustard', serif;
	font-weight: normal;
	padding-bottom: 15px;
	vertical-align: baseline;
}

.price-block .price small {
	display: inline-block;
	font-size: 15px;
	vertical-align: baseline;
}

.price-block .price-button {
	display: block;
	margin: 0px 10px 10px 10px;
	text-shadow: none!important;
	text-align: center;
	margin-top: 3px;
	color: #fff;
	text-shadow: none;
	padding: 10px 0px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 13px;
}

.price-block .price-button:hover {
	color: #fff;
	box-shadow: inset 0px 50px 20px 20px rgba(255,255,255,0.1);
}

.price-block .price-button:active {
	color: #fff;
	box-shadow: inset 0px 50px 20px 20px rgba(0,0,0,0.1);
}

.price-block ul {
	display: block!important;
	padding-left: 0px!important;
	list-style: none!important;
}

.price-block ul li {
	display: block;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 0px!important;
	border-bottom: 1px dotted #d1d0cb;
	padding-bottom: 7px!important;
	margin-bottom: 7px;
}

.price-block ul li:last-child {
	padding-bottom: 0px!important;
	margin-bottom: 0px!important;
	border-bottom: 0px;
}


.main-block .price-block {
	background: #f8f3e1;
	color: #3c1805;
	text-shadow: 0px 1px 0px #fff;
}

.main-block .price-block .price-color {
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
}

.price-grid {
	margin-top: 30px;
	margin-bottom: 10px;
}

.tabs > div p:empty {
	display: none;
}



