/*
Theme Name: Agritourismo Premium Theme
Theme URI: http://agritourismo.orange-themes.com/
Description: Agritourismo Premium Wordpress Theme
Author: Orange Themes
Author URI: http://www.orange-themes.com/
Version: 1.0.0
Tags: 
License: GNU General Public License
License URI: README_License.txt
*/


/** Wordpress default clases */

.sticky { background: #f8f8f8; padding: 0px 0px 16px 0px; }

.sticky .article-content { padding: 0px 16px; }

.article-block-small-image.sticky .article-header { padding: 8px 20px 0px 16px; }

.gallery-caption { color: #888; font-size: 12px; margin: 0 0 12px; }

.bypostauthor {}

.main-menu-wrapper ul ul li a i { font-style: normal!important; }

.alignright  {}

.alignleft  {}

.aligncenter   {}

ul li a i { font-style: normal; }


.gal-current-image .loading {
	display: inline-block;
	background: rgba(255,255,255,0.7) url(../assets/themes/loading.gif) no-repeat center center;
	line-height: 0px;
	min-height: 400px;
	width: 100%;
}

.waiter > img {
  position:relative;
}

.gal-current-image .loading img {
	opacity:0.6;
	filter:alpha(opacity=60);
}

.port-last-image .loading {
	display:inline-block;
	background:#fff url(../assets/themes/loading.gif) no-repeat center center;
	line-height:0px;
	min-height:400px;

}

.port-last-image  .loading img {
	opacity:0.6;
	filter:alpha(opacity=60);
}

/* isotope transition styles */

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
  
#infscr-loading {
	background: -moz-linear-gradient(center top , #747D84 0%, #434F56 100%) repeat scroll 0 0 transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	height: 50px;
	left: 50%;
	margin-left: -45px;
	padding-top: 20px;
	position: fixed;
	text-align: center;
	z-index: 1000;
	width: 90px;
	background-repeat:no-repeat;
	background-position: center center;
}
	
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bypostauthor {}

img { height: auto !important; }


#gallery-full,
#gallery-full .gallery-image {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#gallery-full {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

#gallery-full .gallery-image {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
