<!-- <div id='forums_container' style='background: #78ADC7;'>
  

  <%#= render @categories %>
</div>
 -->
<!-- <br> -->
<!-- <footer id='admin_link'> -->
 
<!-- </footer> -->

<div class="content">
  <div class="wrapper">
    <div class="content-block">             
      <div class="content-main" >
        <div class="article-header">
          <h1 id='forums_title'><%= t('.title') %></h1>
        </div>
        <%= render @categories %>
         <% if forem_admin? %>
    		<%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  		<% end %>
      </div>
    </div>
    <div class="clear-float"></div>
  </div>
</div>