<!DOCTYPE html>
<html manifest="/application.manifest">
<head>
  <title>Farming</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <%= stylesheet_link_tag 'desktopd7b7.css?ver=4.3', id: 'style-responsive-css' %>
  <%= csrf_meta_tags %>
</head>
<body class="home-page home page page-id-15 page-template page-template-template-homepage page-template-template-homepage-php wpb-js-composer js-comp-ver-3.6.14.1 vc_responsive no-js" style="background-image: url(../assets/themes/background-texture-1.jpg); background-position: top center; background-repeat: repeat;overflow-x: hidden;margin: 0px !important;">
<div class="boxed">
  <%= render 'shared/nav_bar' %>
  <%= render 'shared/header' %>
  <%= render 'shared/nav_bar_new' %>
  <%= render 'shared/flash_message' %>
  <%= yield.force_encoding("utf-8") %>
  <%= render 'shared/footer' %>
</div>
</body>
</html>